<a href="#">Beiratkozáskor leadandó nyomtatványok</a>
<ul class="menu vertical nested">
    <li>
        <a href="{{root}}assets/beiratkozas/nyilatkozat_torvenyes_kepviseletrol.pdf" target="_blank">Nyilatkozat törvényes<br />képviseletről</a>
    </li>
    <li>
        <a href="{{root}}assets/beiratkozas/nyilatkozat_etika_hit_es_erkolcstanrol.pdf" target="_blank">Nyilatkozat etika<br />illetve hit- és erkölcstan<br />oktatásról</a>
    </li>
    <li>
        <a href="{{root}}assets/beiratkozas/megerosito_nyilatkozat_korzetes_gyermekek_reszere.pdf" target="_blank">Megerősítő nyilatkozat<br />körzetes gyermekek<br />részére</a>
    </li>
    <li>
        <a href="{{root}}assets/beiratkozas/szandeknyilatkozat_korzeten_kivuli_gyermekek_reszere.pdf" target="_blank">Szándéknyilatkozat<br />körzeten kívüli<br />gyermekek részére</a>
    </li>
</ul>