<h5 class="text-center subheader" style="margin-bottom: 0.5rem">BEMUTATKOZÁS
</h5>
{{> elerhetoseg-ps}}
<p class="text-center">
    Igazgató: Winkler Andrea <br>
    Az intézmény fenntartója és működtetője a Szegedi Tankerületi Központ.
</p>
{{> bemutatkozas_ps_markdown}}
<p><em>Szeretettel várjuk iskolánkba Petőfi-telep és a környék kisgyermekeit!</em></p>
<div class="grid-x grid-margin-x">
    <div class="cell auto">
    </div>
    <div class="cell small-4">
        <p class="text-center">
            <img src="{{root}}assets/img/wa_sign.jpg"> <br>
            <em>Winkler Andrea</em><br />
            igazgató
        </p>
    </div>
</div>