<h5 class="text-center subheader" style="margin-bottom: 0.5rem">
    INTÉZMÉNYI BEMUTATKOZÁS <br>
</h5>
{{> elerhetoseg-bs}}
<p class="text-center">Az intézmény főigazgatója Winkler Andrea<br><br></p>
<p class="text-right">
    <i>„Mi azt akarjuk, hogy az iskola családi otthon legyen, <br>
        ahol kinyílik a szív és feltárulnak a gondolatok”<br>
        (Célestin Freinet)</i>
</p>
{{> bemutatkozas_bs_markdown}}
<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
        <p class="text-center">
            <img src="{{root}}assets/img/wa_sign.jpg"> <br>
            <em>Winkler Andrea</em><br />
            igazgató
        </p>
    </div>
    <div class="cell small-12 medium-6">
        <p class="text-center">
            <img src="{{root}}assets/img/ppzs_sign.jpg"> <br>
            <em>Porkolábné Papp Zsuzsanna</em><br />
            tagintézmény-igazgató
        </p>
    </div>
</div>