<h5>
  <em>Kedves Szülők, Gyerekek, leendő, kis Elsőseink!</em>
</h5>

<p class="text-left">
  Széllné Bartók Mária vagyok, a leendő 1. b osztály egyik tanító nénije.
</p>

<p class="text-left">
</p>

<p class="text-left">
</p>
<p class="text-left">
</p>

<p class="text-left">
</p>
<p class="text-left">
</p>

<p class="text-left">
</p>

<p class="text-left">
</p>
<p class="text-left">
</p>
<p class="text-left">
</p>
<p class="text-left">
</p>
<p class="text-left">
</p>

<p class="text-left">
</p>
<p class="text-left">
</p>

<p>
</p>
<p class="text-right">
  <em>
    Széllné Bartók Mária&emsp;<br />
    osztályfőnök&emsp;
  </em>
</p>