{{> head_ps_year_2022_23}}
<h5 class="text-center" style="margin-bottom: 1.1rem">EGYÉNI FEJLESZTÉS</h5>

<table class="hover">
  <thead>
    <tr>
      <td>Nap</td>
      <td>Óra</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>kedd</td>
      <td>13:05–13:50</td>
      <td>Májer Szilvia</td>
    </tr>
    <tr>
      <td>szerda</td>
      <td>13:05–13:50</td>
      <td>Májer Szilvia</td>
    </tr>
    <tr>
      <td>péntek</td>
      <td>13:05–13:50</td>
      <td>Májer Szilvia</td>
    </tr>
    <tr>
      <td>kedd</td>
      <td>13:05–13:50</td>
      <td>Molnár-Berkó Rita</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>13:05–13:50</td>
      <td>Molnár-Berkó Rita</td>
    </tr>
    <tr>
      <td>szerda</td>
      <td>14:00–15:45</td>
      <td>Molnár-Berkó Rita</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>14:00–15:45</td>
      <td>Molnár-Berkó Rita</td>
    </tr>
  </tbody>
</table>
