{{> head_bs_year}}
<h5 class="text-center" style="margin-bottom: 1.1rem">
    EGYÉNI FEJLESZTÉS
</h5>


<table class="hover">
    <thead>
        <tr>
            <td>Nap</td>
            <td>Óra</td>
            <td>Osztály</td>
            <td>Pedagógus</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>hétfő</td>
            <td>3.</td>
            <td>2-3. o.</td>
            <td>Ungerné Fekete Mónika</td>
        </tr>
        <tr>
            <td>hétfő</td>
            <td>4.</td>
            <td>3.o.</td>
            <td>Ungerné Fekete Mónika</td>
        </tr>
        <tr>
            <td>szerda</td>
            <td>4.</td>
            <td>4.o.</td>
            <td>Ungerné Fekete Mónika</td>
        </tr>
        <tr>
            <td>szerda</td>
            <td>5.</td>
            <td>4.o.</td>
            <td>Ungerné Fekete Mónika</td>
        </tr>
        <tr>
            <td>hétfő</td>
            <td>6.</td>
            <td>5.o</td>
            <td>Ungerné Fekete Mónika</td>
        </tr>
        <tr>
            <td>kedd</td>
            <td>7.</td>
            <td>6.o</td>
            <td>Ungerné Fekete Mónika</td>
        </tr>
        <tr>
            <td>kedd</td>
            <td>7.</td>
            <td>6.o</td>
            <td>Véghné Láczay Györgyi</td>
        </tr>
        <tr>
            <td>csütörtök</td>
            <td>6.</td>
            <td>6.o</td>
            <td>Véghné Láczay Györgyi</td>
        </tr>
        <tr>
            <td>hétfő</td>
            <td>7.</td>
            <td>7.o</td>
            <td>Ungerné Fekete Mónika</td>
        </tr>
        <tr>
            <td>péntek</td>
            <td>8.</td>
            <td>8.o</td>
            <td>Minik Ilona</td>
        </tr>
        <tr>
            <td>csütörtök</td>
            <td>7.</td>
            <td></td>
            <td>Véghné Láczay Györgyi</td>
        </tr>
</table>