<h5 class="text-center" style="margin-bottom: 1.1rem">
    EGYÉNI FEJLESZTÉS 2020–2021
</h5>
<table class="hover">
    <thead>
        <tr>
            <td>Nap</td>
            <td>Óra</td>
            <td>Osztály</td>
            <td>Nevelő</td>
        </tr>
    </thead>
    <tbody>
        <tr class="border_top">
        <tr>
            <td>hétfő</td>
            <td>3.</td>
            <td>2.</td>
            <td>Skultéti Katalin</td>
        </tr>
        <td></td>
        <td>4.</td>
        <td>2.</td>
        <td>Tóthné Bereczk Gabriella</td>
        </tr>
        <tr>
            <td> </td>
            <td>5.</td>
            <td>4.</td>
            <td>Simonné Tóth Edina</td>
        </tr>
        <tr>
            <td></td>
            <td>6.</td>
            <td>7.</td>
            <td>Szegediné Sövényházi Erika</td>
        </tr>
        <tr>
            <td> </td>
            <td>7.</td>
            <td>5.</td>
            <td>dr. Véghné Láczay Györgyi</td>
        </tr>


        <tr class="border_top">
            <td>kedd</td>
            <td>6.</td>
            <td>6.</td>
            <td>dr. Véghné Láczay Györgyi</td>

        </tr>
        <tr>
            <td></td>
            <td>7.</td>
            <td>5.</td>
            <td>dr. Véghné Láczay Györgyi</td>

        </tr>

        <tr>
            <td></td>
            <td>8.</td>
            <td>5.</td>
            <td>dr. Véghné Láczay Györgyi</td>

        </tr>


        <tr class="border_top">
            <td>szerda</td>
            <td>3.</td>
            <td>4.</td>
            <td>Savanya Béláné</td>
        </tr>
        <tr>
            <td> </td>
            <td>4.</td>
            <td>2.</td>
            <td>Tóthné Bereczk Gabriella</td>
        </tr>
        <tr>
            <td> </td>
            <td>6.</td>
            <td>6.</td>
            <td>Vitaszek Attila</td>
        </tr>
        <tr>
            <td> </td>
            <td>7.</td>
            <td>7.</td>
            <td>dr. Véghné Láczay Györgyi</td>
        </tr>


        <tr class="border_top">
            <td>Csütörtök</td>
            <td>5.</td>
            <td>3.</td>
            <td>Kisné Fülöp Ilona</td>
        </tr>
        <tr class="border_top">
            <td>Csütörtök</td>
            <td>6.</td>
            <td>5.</td>
            <td>Vitaszek Attila</td>
        </tr>
        <tr class="border_top">
            <td>Csütörtök</td>
            <td>7.</td>
            <td>6.</td>
            <td>dr. Véghné Láczay Györgyi</td>
        </tr>


        <tr class="border_top">
            <td> Péntek</td>
            <td>6.</td>
            <td>5.</td>
            <td>Kisné Fülöp Ilona</td>
        </tr>
        <tr>
            <td></td>
            <td>5.</td>
            <td>1.</td>
            <td>dr. Véghné Láczay Györgyi</td>
        </tr>
        <tr>
            <td></td>
            <td>7.</td>
            <td>8.</td>
            <td>Szegediné Sövényházi Erika</td>
        </tr>
</table>