{{> head_ps_year}}
<h5 class="text-center" style="margin-bottom: 1.1rem">
  EGYÉNI FEJLESZTÉS
</h5>


<table class="hover">
  <thead>
    <tr>
      <td>Nap</td>
      <td>Óra</td>
      <td>Csoport</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>csütörtök</td>
      <td>5.</td>
      <td>BTM-N 1.</td>
      <td>Kalányos Krisztina</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>6.</td>
      <td>BTM-N 2.</td>
      <td>Kalányos Krisztina</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>7.</td>
      <td>BTM-N 3.</td>
      <td>Kalányos Krisztina</td>
    </tr>
    <tr>
      <td>kedd</td>
      <td>6.</td>
      <td>BTM-N 4.</td>
      <td>Molnár-Berkó Rita</td>
    </tr>
    <tr>
      <td>kedd</td>
      <td>7.</td>
      <td>BTM-N 5.</td>
      <td>Molnár-Berkó Rita</td>
    </tr>
    <tr>
      <td>hétfő</td>
      <td>7.</td>
      <td>BTM-N 6.</td>
      <td>Molnár-Berkó Rita</td>
    </tr>
    <tr>
      <td>Szerda</td>
      <td>8.</td>
      <td>BTM-N 7.</td>
      <td>Molnár-Berkó Rita</td>
    </tr>
</table>