{{>head_ps_year_2023_24}}
<h3 class="subheader text-center">Eseménynaptár</h3>
<hr />
<div class="grid-x grid-margin-x">
  <div class="cell auto"></div>
  <div class="cell small-10 large-10">
    <table class="hover">
      <thead style="background-color: lightskyblue">
        <tr>
          <td width="90px" class="text-center">Időpont</td>
          <td class="text-center">Téma</td>
        </tr>
      </thead>
      <tbody></tbody>
      <tbody>
        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Augusztus</strong></td>
        </tr>

        <tr>
          <td>0.</td>
          <td>Tanévnyitó ünnepség</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Óvodai szülői értekezlet</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Szüreti Piknik</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Szakmai fesztivál – a SZSZC családinapja a 8. osztályos tanulók
            részére
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Iskolabemutató-tájékoztató, iskolabejárás</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Szavalóverseny ovisoknak</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Papírgyűjtés</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Jeles napok: a népmese napja</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Európai Diáksport napján való részvétel<br />Kutatók éjszakája
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Agrár szakképzési rendezvény</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Szeptember</strong></td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Tanévnyitó ünnepség</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Óvodai szülői értekezlet</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Szüreti Piknik</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Szakmai fesztivál – a SZSZC családinapja a 8. osztályos tanulók
            részére
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Iskolabemutató-tájékoztató, iskolabejárás</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Szavalóverseny ovisoknak</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Papírgyűjtés</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Jeles napok: a népmese napja</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Európai Diáksport napján való részvétel<br />Kutatók éjszakája
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Agrár szakképzési rendezvény</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Október</strong></td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Pályaorientációs szakmai nap<br />Tanítás nélküli munkanap</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Babakiállítás<br />A Világ Legnagyobb Tanórája – rendhagyó
            biológiaóra
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Zenei Világnap „Lásd a zenét!”<br />Suliváró foglalkozás</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Építsd a jövőt!<br />Október 6. Megemlékezés iskolai szinten</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Találd ki magad pályaválasztási börze</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Tanítás nélküli munkanap-DÖK nap</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Suliváró foglalkozás</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Október 23-i megemlékezés - 8. osztály</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Suliváró foglalkozás</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Mi a pálya?<br />Halloween Afternoon. Idegen nyelvi délután a felső
            tagozaton
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Őszi szünet (utolsó tanítási nap október 28. első tanítási nap
            november 7.)
          </td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>November</strong></td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Jeles napok: Márton-nap</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            A magyar nyelv napja<br />„Nyelvében él a nemzet”<br />Érzékenyítő
            program<br />Csoki- és cipődobozgyűjtő akció<br />Egészséghét
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Suliváró foglalkozás</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Házi versmondó verseny Petőfi Sándor születésének 200.
            évfordulójának alkalmából
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Adventi gyertyagyújtás – az iskolai kamarakórus szereplése</td>
          zz
        </tr>
        <tr>
          <td>0.</td>
          <td>„Suliváró” foglalkozások óvodásoknak</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>December</strong></td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Érkezik a Mikulás a kicsikhez</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Mikulás-váltó<br />Játékos sportfoglalkozás<br />Érzékenyítő
            program: diabéteszes látássérült meghívása<br />Adventi kézműves-
            Osztályonként kézműves délutánt szervezünk
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Iskolai karácsony<br />Telepi karácsony, cipősdoboz akció</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Téli szünet (utolsó tanítási nap december 21. első tanítási nap
            január 3.
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Nevelés nélküli munkanap</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Január</strong></td>
        </tr>
        <tr>
          <td>0.</td>
          <td>I. félév lezárása</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Központi írásbeli felvételi vizsgák 8. osztály</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>A magyar kultúra napja. Megemlékezés</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Félévi bizonyítványok kiosztása</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>„Szóforgató” alsós háziverseny az 1-4.osztályokban</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            „Iskolásdi”- iskolai foglalkozás óvodai csoport részére<br />Tisza
            élővilágának emléknapja
          </td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Február</strong></td>
        </tr>

        <tr>
          <td>0.</td>
          <td>
            A 8. osztályos tanulók írásban leadják továbbtanulási szándékukat
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>„Észpörgető” alsós háziverseny a 1-4.osztályokban</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Értesítés az írásbeli felvételi vizsgák eredményéről</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Félévi szülői értekezlet</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>„Iskolásdi”- iskolai foglalkozás óvodai csoport részére</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            A továbbtanuláshoz szükséges Jelentkezési lapok és Tanulói adatlapok
            szülői aláírása
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            14:00-16:00 Farsangi mulatság osztálykeretben az alsó tagozaton
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>„Suliváró” foglalkozások óvodásoknak</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Házi mesemondó verseny<br />Magyar Parasport napja</td>
        </tr>
        <tr>
          <td></td>
          <td>
            Szótárhasználati háziverseny (4-5. osztály)- Idegennyelvi
            rendezvény.
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Kommunista és egyéb diktatúrák áldozatainak emléknapja</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Március</strong></td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Fogadóórák</td>
        </tr>

        <tr>
          <td></td>
          <td>
            „Hetedhét országon túl…” tankerületi mesemondó verseny<br />„Szép
            beszéd” tankerületi prózamondó verseny
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Megemlékezés márc. 15-ről – Iskolai ünnepség</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>„Suliváró” foglalkozások óvodásoknak</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>A 8. osztályos tanulók Tanuló adatlapjainak módosítása</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            A víz világnapja<br />Látogatás a Szent István téri víztoronyba
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>„Suliváró” foglalkozások óvodásoknak</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Digitális témahét</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Április</strong></td>
        </tr>

        <tr>
          <td>0.</td>
          <td>Szülői értekezlet</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Húsvéti kézműves foglalkozás az alsó tagozaton</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>„Suliváró” foglalkozások óvodásoknak</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>
            Tavaszi szünet (utolsó tanítási nap április 5 első tanítási nap
            április 12.)
          </td>
        </tr>
        <tr>
          <td>0.</td>
          <td>A költészet napja<br />Megemlékezés</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Holokauszt emléknap</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Leendő első osztályos tanulók beiratkozása</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Fenntarthatósági témahét</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Papírgyűjtés</td>
        </tr>

        <tr></tr>
        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Május</strong></td>
        </tr>

        <tr>
          <td>0.</td>
          <td>Jeles napok: Madarak és fák napja</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>„Szóforgató” alsós háziverseny a 1-4.osztályokban</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>„Észpörgető” alsós háziverseny a 1-4.osztályokban</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Témanap-Madarak és Fák napja</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Színházi Délután</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Újszülöttek köszöntése a Petőfi-telepi Művelődési Házban</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>A kihívás napja</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Június</strong></td>
        </tr>

        <tr>
          <td>0.</td>
          <td>Nemzeti összetartozás napja megemlékezés</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Ballagás</td>
        </tr>
        <tr>
          <td>0.</td>
          <td>Tanévzáró ünnepély, bizonyítványosztás</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cell auto"></div>
</div>