{{>head_ps_year_2021_22}}


<div class="grid-x grid-margin-x">
    <div class="cell auto"></div>
    <div class="cell small-10 large-10">
        <table class="hover">
            <thead style="background-color:lightskyblue">
                <tr>
                    <td width="90px" class="text-center">Időpont</td>
                    <td class="text-center">Téma</td>
                </tr>
            </thead>
            <tbody>
            <tbody>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Augusztus</strong></td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>Alakuló értekezlet, munkaértekezlet</td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>Javítóvizsgák</td>
                </tr>
                <tr>
                    <td>25-27.</td>
                    <td>Munkaközösségi foglalkozások</td>
                </tr>
                <tr>
                    <td>31.</td>
                    <td>Tanévnyitó értekezlet</td>
                </tr>
                <tr>
                    <td>30-31.</td>
                    <td>Szülői értekezletek 1-8-ig</td>
                </tr>
                <tr>
                    <td>31.</td>
                    <td>Pályaválasztási szülői értekezlet</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Szeptember</strong></td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Tanévnyitó ünnepség,<br>
                        házirend ismertetése,<br>
                        baleset- és tűzvédelmi oktatás</td>
                </tr>
                <tr>
                    <td>3–9.</td>
                    <td>Bemeneti mérések</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Bemeneti mérések értékelési határideje</td>
                </tr>
                <tr>
                    <td>4. </td>
                    <td>Pályaválasztási szülői értekezlet</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>A felső tagozat tisztasági versenyének indítása, a diákügyelet megszervezése</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Bekapcsolódunk a Nemzeti Művelődési Intézet által szervezett egészség-és környezettudatos
                        programjába</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>DÖK alakuló ülés, tisztségviselők megválasztása</td>
                </tr>
                <tr>
                    <td>11. </td>
                    <td>Újszülöttek köszöntése a Petőfi-telepi Művelődési Házban</td>
                </tr>
                <tr>
                    <td>13-tól</td>
                    <td>Óvodai szülői értekezlet</td>
                </tr>
                <tr>
                    <td>13–17.</td>
                    <td>Kapcsolatfelvétel a környező óvodákkal a következő évi beiskolázással kapcsolatban</td>
                </tr>
                <tr>
                    <td>13.</td>
                    <td>Szakkörök beindítása</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Tanulók NETFIT mérésének kezdete</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Tanmenetek leadása a munkaközösség-vezetőknek</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Papírgyűjtés</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Bolyai Matematika Csapatverseny nevezési határideje</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Részvétel a Pick-futásban</td>
                </tr>
                <tr>
                    <td>09.20–10.11.</td>
                    <td>8.o. – pályaválasztást megalapozó kompetenciák vizsgálata</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Magyar Diáksport Napja - témanap</td>
                </tr>
                <tr>
                    <td>24–25.</td>
                    <td>Kutatók éjszakája</td>
                </tr>
                <tr>
                    <td>25. </td>
                    <td>Szakmai fesztivál – a SzSzC családinapja a 8. osztályos tanulók részére </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bendegúz Akadémia levelezős versenyek beindítása</td>
                </tr>
                <tr>
                    <td>27.</td>
                    <td>Munkaközösség-vezetők értekezlete</td>
                </tr>
                <tr>
                    <td>27–30.</td>
                    <td>Jeles napok: a népmese napja</td>
                </tr>
                <tr>
                    <td></td>
                    <td>TITOK Országos Levelezőverseny angol nyelvből</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Magistern sakkverseny</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Október</strong></td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Zenei Világnap „Lásd a zenét!”</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Pályaorientációs szakmai nap, tanítás nélküli munkanap</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Mi a pálya? A SzSzC pályaválasztási programja a 8. osztályosok számára</td>
                </tr>
                <tr>
                    <td>4–8.</td>
                    <td>Csatlakozás A Világ Legnagyobb Tanórája programhoz rendhagyó biológiaóra</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Megemlékezés az aradi vértanúkról </td>
                </tr>
                <tr>
                    <td>7–9.</td>
                    <td>Találd ki magad! Pályaválasztási vásár</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Bolyai Matematika Csapatverseny</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>On-lion online angol nyelvi verseny</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Munkaközösség-vezetők értekezlete</td>
                </tr>
                <tr>
                    <td>20.</td>
                    <td>Bolyai Természettudományi verseny</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Építsd a jövőt! Pályaválasztási program</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Kis Teleki-virág vetélkedő</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Halloween Afternoon. Idegen nyelvi délután a felső tagozaton</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>Október 23-i megemlékezés - 8. osztály</td>
                </tr>
                <tr>
                    <td></td>
                    <td>„Kerekasztal” beszélgetések az óvodákban az iskolába lépés nehézségeiről</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Magó István sakkbajnokság</td>
                </tr>
                <tr>
                    <td>10. 25. – 10. 29.</td>
                    <td>Őszi szünet (utolsó tanítási nap október 22., első tanítási nap november 2.)</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>November</strong></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Varga Tamás Országos Matematikaverseny nevezési határideje</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>1. osztályosok kiválasztása a Diagnosztikai felmérésre /DIFER/</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Fogadóóra</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Nyílt tanítási nap</td>
                </tr>
                <tr>
                    <td>11. </td>
                    <td>Jeles napok: Márton-nap</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>A magyar nyelv napja, – „Nyelvében él a nemzet”</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Érzékenyítő program – csoki- és cipődobozgyűjtő akció</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Darules a Fehér-tavon</td>
                </tr>
                <tr>
                    <td>15–19.</td>
                    <td>Egészséghét – rendhagyó biológiaórák szervezése</td>
                </tr>
                <tr>
                    <td>16.</td>
                    <td>„Suliváró” foglalkozások óvodásoknak</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>Az egységes felvételi írásbeli vizsgákra való jelentkezés</td>
                </tr>
                <tr>
                    <td>23.</td>
                    <td>„Suliváró” foglalkozások óvodásoknak</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Óvónők látogatása az első osztályban</td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>Vasvári matematikaverseny</td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>Beiskolázási nyílt nap a 4. osztályban</td>
                </tr>
                <tr>
                    <td>28.</td>
                    <td>Adventi gyertyagyújtás – az iskolai kamarakórus szereplése</td>
                </tr>
                <tr>
                    <td>29.</td>
                    <td>Munkaközösség-vezetők értekezlete</td>
                </tr>
                <tr>
                    <td>29.</td>
                    <td>Zrínyi matematikaverseny iskolai forduló</td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>„Suliváró” foglalkozások óvodásoknak</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Csongrád-Csanád megyei Építészkamara rajzverseny</td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>„Mesét látok, mesét mondok” tankerületi rajz- és mesemondó verseny</td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>Vasvári informatikaverseny</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Csongrád-Csanád Megyei Építészkamara rajzpályázata</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>December</strong></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Központi írásbeli jelentkezési lapok leadása.</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Fogadóóra</td>
                </tr>
                <tr>
                    <td>6. </td>
                    <td>Érkezik a Mikulás a kicsikhez</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Mikulás-váltó – játékos sportfoglalkozás</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Varga Tamás Országos Matematikaverseny </td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>„Suliváró” foglalkozások óvodásoknak</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Érzékenyítő program: diabéteszes látássérült meghívása</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>DIFER mérés leadási határideje, 1. osztály</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Karácsonyi készülődés, kézműves foglalkozások, ajándékkészítés – tanítás nélküli munkanap</td>
                </tr>
                <tr>
                    <td>14.</td>
                    <td>Karácsonyi délután: Christmas Afternoon a felső tagozaton</td>
                </tr>
                <tr>
                    <td>14.</td>
                    <td>Munkaközösség-vezetők értekezlete</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Gábor Dénes Számítástechnikai Emlékverseny első fordulója</td>
                </tr>
                <tr>
                    <td>16.</td>
                    <td>Milne szavalóverseny</td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>TITOK országos angol nyelvi levelezős verseny</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Iskolai karácsony</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Telepi karácsony</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Merkbau rajzpályázat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Rendhagyó biológiaóra a dohányzás veszélyeiről</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Rendhagyó biológia- kémiaóra a klímaváltozás következményeiről</td>
                </tr>
                <tr>
                    <td>12.22. –12. 31.</td>
                    <td>Téli szünet (utolsó tanítási nap december 21., első tanítási nap január 3.</td>
                </tr>

                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Január</strong></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Félévi felmérők összeállítása</td>
                </tr>
                <tr>
                    <td>13.</td>
                    <td>Beiskolázási nyílt nap a 4. osztályban</td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>Nevelési értekezlet – tanítás nélküli munkanap</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Magyar Parasport Napja</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Osztályozó értekezlet</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>I. félév lezárása</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>Központi írásbeli felvételi vizsgák 8. osztály</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>A magyar kultúra napja. Megemlékezés</td>
                </tr>
                <tr>
                    <td>01.24. – 01. 28.</td>
                    <td>Félévi bizonyítványok kiosztása</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Munkaközösség-vezetők értekezlete</td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>Félévi értekezlet</td>
                </tr>
                <tr>
                    <td>27.</td>
                    <td>„Szóforgató” alsós háziverseny az 1-4.osztályokban</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bendegúz Akadémia Nyelvész Országos Verseny</td>
                </tr>
                <tr>
                    <td>31.</td>
                    <td>Rendhagyó biológia- és természettudomány-óra a 6. osztályban</td>
                </tr>
                <tr>
                    <td>31.</td>
                    <td>„Iskolásdi”- iskolai foglalkozás óvodai csoport részére</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Téli Balaton Sakkverseny</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Február</strong></td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Jeles napok: a Tisza élővilágának emléknapja</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>A 8. osztályos tanulók írásban leadják továbbtanulási szándékukat</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>„Észpörgető” alsós háziverseny az 1–4.osztályokban</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Értesítés az írásbeli felvételi vizsgák eredményéről</td>
                </tr>
                <tr>
                    <td>7–11.</td>
                    <td>Félévi szülői értekezlet</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>„Iskolásdi”- iskolai foglalkozás óvodai csoport részére</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>A biztonságos internet-használat –Tájékoztató előadások a 3-8. osztályokban</td>
                </tr>
                <tr>
                    <td>10–11.</td>
                    <td>A továbbtanuláshoz szükséges Jelentkezési lapok és Tanulói adatlapok szülői aláírása</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Farsangi mulatság osztálykeretben az alsó tagozaton</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Gábor Dénes Számítástechnikai Emlékverseny második fordulója</td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>Simonyi Zsigmond Kápát-medencei Helyesírási Verseny</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Jelentkezési lapok továbbítása.</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Tisza-vetélkedő</td>
                </tr>
                <tr>
                    <td>02. 22. – 03. 10.</td>
                    <td>A 8. osztályosok szóbeli meghallgatása a középfokú intézményekben</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Munkaközösség-vezetők értekezlete</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>Házi mesemondó verseny</td>
                </tr>
                <tr>
                    <td>21–25.</td>
                    <td>Kommunista és egyéb diktatúrák áldozatainak emléknapja</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Tabán-Teszt-Túra</td>
                </tr>
                <tr>
                    <td></td>
                    <td>SZTEJKI Weöres Sándor Általános Iskola, Szegedi Arany János Általános Iskola illusztrációs
                        versenyek</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Március</strong></td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Fogadóóra</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Tanítás nélküli munkanap – „Szép beszéd” tankerületi prózamondó verseny</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>„Hetedhét országon túl…” tankerületi mesemondó verseny</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Nevelési értekezlet – tanítás nélküli munkanap</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Megemlékezés márc. 15-ről – iskolai ünnepség</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Gábor Dénes Számítástechnikai Emlékverseny</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Rendhagyó biológiaóra a drogfogyasztás káros hatásairól</td>
                </tr>
                <tr>
                    <td>21–22.</td>
                    <td>A 8. osztályos tanulók Tanuló adatlapjainak módosítása</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>A víz világnapja – látogatás a Szent István téri víztoronyba</td>
                </tr>
                <tr>
                    <td>22. </td>
                    <td>„Suliváró” foglalkozások óvodásoknak</td>
                </tr>
                <tr>
                    <td>23.</td>
                    <td>Könyv-papír-olló angol nyelvi szövegértési és szövegfeldolgozási verseny</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Nyílt nap</td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>Arany János városi szavalóverseny</td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>DÖK-nap – tanítás nélküli munkanap</td>
                </tr>
                <tr>
                    <td>27.</td>
                    <td>Nemzetközi Kenguru Matematikaverseny – alsó tagozatos tanulóknak</td>
                </tr>
                <tr>
                    <td>28.</td>
                    <td>Munkaközösség-vezetők értekezlete</td>
                </tr>
                <tr>
                    <td>29.</td>
                    <td>„Suliváró” foglalkozások óvodásoknak</td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>Rendhagyó énekóra vendégművésszel</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Részvétel a TeSzedd -akcióban</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bor Pál fizikaverseny</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Április</strong></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>4–8.</td>
                    <td>Bekapcsolódás a Digitális témahét programjaiba</td>
                </tr>
                <tr>
                    <td>4–7.</td>
                    <td>Szülői értekezlet</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>„Suliváró” foglalkozások óvodásoknak</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Rendhagyó magyaróra</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Házi csendéletfestő verseny az alsó tagozaton</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>A költészet napja – megemlékezés</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Szép magyar beszéd versenye</td>
                </tr>
                <tr>
                    <td>11–15.</td>
                    <td>Holokauszt emléknap Megemlékezés történelemórák keretében</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>Szegedi Tankerületi Helyesírási verseny</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>„Suliváró” foglalkozások óvodásoknak</td>
                </tr>
                <tr>
                    <td>13.</td>
                    <td>Húsvéti kézműves foglalkozás az alsó tagozaton</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Tankerületi Matematikaverseny</td>
                </tr>
                <tr>
                    <td>21–22.</td>
                    <td>Leendő első osztályos tanulók beíratása</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>Városi szótárverseny</td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>Munkaközösség-vezetők értekezlete</td>
                </tr>
                <tr>
                    <td>25–29.</td>
                    <td>Fenntarthatósági témahét – Zöld Hét</td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>Makkosházi Matematikaverseny</td>
                </tr>
                <tr>
                    <td>28.</td>
                    <td>Papírgyűjtés</td>
                </tr>
                <tr>
                    <td>29-ig</td>
                    <td>A középiskolai felvételi eredmények kiértesítése</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Agóra rajzverseny</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Kossuth Zsuzsa művészeti tagozat versenye</td>
                </tr>
                <tr>
                    <td>04.14. – 04. 19.</td>
                    <td>Tavaszi szünet (utolsó tanítási nap április 13., első tanítási nap április 20.)</td>
                </tr>
                <tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Május</strong></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Meseillusztrációs házi rajzverseny az alsó tagozaton</td>
                </tr>
                <tr>
                    <td>4. – 17.</td>
                    <td>Országos kompetenciamérés 8. osztály</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Jeles napok: Madarak és fák napja – kirándulás a Fűvészkertbe</td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>„Szóforgató” alsós háziverseny az 1–4.osztályokban</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>„Észpörgető” alsós háziverseny az 1–4.osztályokban</td>
                </tr>
                <tr>
                    <td>18. – 31.</td>
                    <td>Országos kompetenciamérés 6. osztály</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Év végi felmérések előkészítése</td>
                </tr>
                <tr>
                    <td>19.</td>
                    <td>„Varázsecset” csendéletfestő verseny</td>
                </tr>
                <tr>
                    <td>20.</td>
                    <td>Színházi Délután</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Újszülöttek köszöntése a Petőfi-telepi Művelődési Házban</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Szeged városi történelemverseny</td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>A kihívás napja – sárkányhajózás a Tiszán</td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>Bendegúz Akadémia matekÁSZ versenye</td>
                </tr>
                <tr>
                    <td>27.</td>
                    <td>Tanítás nélküli munkanap – Petőfi Nap: osztálykirándulások</td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>Munkaközösség-vezetők értekezlete</td>
                </tr>
                <tr>
                    <td>31.</td>
                    <td>Év végi szintfelmérések</td>
                </tr>

                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Június</strong></td>
                </tr>


                <tr>
                    <td>3.</td>
                    <td>Nemzeti összetartozás napja megemlékezés</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>6–7.</td>
                    <td>Osztályozó értekezlet</td>
                </tr>
                <tr>
                    <td>15. </td>
                    <td>NETFIT-mérés eredményeinek feltöltése</td>
                </tr>
                <tr>
                    <td></td>
                    <td>MaTalent mérés 4.osztály</td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>Ballagás </td>
                </tr>
                <tr>
                    <td>20.</td>
                    <td>Tanévzáró ünnepély, bizonyítványosztás</td>
                </tr>
                <tr>
                    <td>22–24.</td>
                    <td>Tanévzáró értekezlet</td>
                </tr>
                <tr>
                    <td>06. 16 –</td>
                    <td>Nyári napközis felügyelet</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cell auto"></div>
</div>