{{>head_ps_year_2021_22}}

<!--  -->
<div class="grid-x grid-margin-x">
    <div class="cell auto"></div>
    <div class="cell small-12 large-12">
        <table class="hover">
            <thead style="background-color:lightskyblue">
                <tr>
                    <td class="text-center">Időpont</td>
                    <td class="text-center">Téma</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>október 4.</td>
                    <td>tanítás nélküli munkanap (pályaorientációs nap)</td>
                </tr>
                <tr>
                    <td>november 9.</td>
                    <td>fogadóóra</td>
                </tr>
                <tr>
                    <td>november 29.</td>
                    <td>tanítás nélküli munkanap (nevelési értekezlet) </td>
                </tr>
                <tr>
                    <td>december 7.</td>
                    <td>fogadóóra </td>
                </tr>
                <tr>
                    <td>január 31 – február 4.</td>
                    <td>szülői értekezletek </td>
                </tr>
                <tr>
                    <td>március 3.</td>
                    <td>tanítás nélküli munkanap (Bálint nap)</td>
                </tr>
                <tr>
                    <td>március 4.</td>
                    <td>tanítás nélküli munkanap (nevelési értekezlet) </td>
                </tr>
                <tr>
                    <td>március 8.</td>
                    <td>fogadóóra </td>
                </tr>
                <tr>
                    <td>március 22–23.</td>
                    <td>nyílt nap </td>
                </tr>
                <tr>
                    <td>március 26.</td>
                    <td>tanítás nélküli munkanap (DÖK nap) </td>
                </tr>
                <tr>
                    <td>május 2–6.</td>
                    <td>szülői értekezletek </td>
                </tr>
                <tr>
                    <td>május 27.</td>
                    <td>tanítás nélküli munkanap (Bálint nap) </td>
                </tr>
                <tr>
                    <td>június 18.</td>
                    <td>9:00 ballagás</td>
                </tr>
                <tr>
                    <td>június 21.</td>
                    <td>17:00 tanévzáró </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="cell auto"></div>
</div>