{{>head_ps_year_2022_23_hamarosan}}
<div class="grid-x grid-margin-x">
    <!-- <div class="cell auto"></div>
    <div class="cell small-10 large-10">
        <table class="hover">
            <thead style="background-color:lightskyblue">
                <tr>
                    <td width="90px" class="text-center">Időpont</td>
                    <td class="text-center">Téma</td>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Augusztus</strong></td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>Alakuló értekezlet</td>
                </tr>
                <tr>
                    <td>25–26.</td>
                    <td>Munkaközösségi foglalkozások</td>
                </tr>
                <tr>
                    <td>27.</td>
                    <td>Munkaközösségi foglalkozásoka</td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>– Munkavédelmi oktatás<br>
                        – Tanévnyitó értekezlet</td>
                </tr>
                <tr>
                    <td>31.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>30–31.</td>
                    <td>Szülői értekezletek</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Szeptember</strong></td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>– Tanévnyitó ünnepség<br>
                        – Házirend ismertetése<br>
                        – Baleset- és tűzvédelmi oktatás<br>
                        – Munkaközösségi
                        foglalkozások</td>
                </tr>
                <tr>
                    <td>2–18.</td>
                    <td>Év eleji tudásszint mérések</td>
                </tr>
                <tr>
                    <td>13-tól</td>
                    <td>Szakkörök, levelező versenyek indítása</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Papírgyűjtés</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>tanmenetek leadása, ellenőrzése</td>
                </tr>
                <tr>
                    <td>15-ig</td>
                    <td>DÖK alakuló ülés, tisztségviselők megválasztása</td>
                </tr>
                <tr>
                    <td>3.–4. hete</td>
                    <td>Tájékoztató az iskolánkról a helyi óvodákban a szülői értekezleteken</td>
                </tr>
                <tr>
                    <td>24. </td>
                    <td>Kutatók éjszakája</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Magyar Diáksport Napja</td>
                </tr>
                <tr>
                    <td>25. </td>
                    <td>Medve matek országos verseny</td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>Színházlátogatás</td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>Magyar népmese napja, meseelőadás</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Felvételi előkészítő foglalkozások</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Október</strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td>– Magatartás, szorgalom értékelése<br>
                        – Hebe Kft. – Olvasóverseny – online<br>
                        – Húsmentes Vetélkedő
                        kezdete<br>
                        – Ismerjük meg Szegedet!<br>
                        – Foci – osztályok egymás között<br>
                        – Munkaközösségi
                        értekezletek<br>
                        – Folyosó dekoráció: Ősz</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Zene Világnapja</td>
                </tr>
                <tr>
                    <td>1–5.</td>
                    <td>Az 1. osztályban tanító nevelők és a munkaközösségvezető hospitálása az 5. osztályban/ volt
                        osztályukban</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Kirándulás Nyíregyházára vonattal: Állatparkba</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Pályaorientációs nap</td>
                </tr>
                <tr>
                    <td>4–8.</td>
                    <td>A világ legnagyobb tanórája – rendhagyó biológiaóra</td>
                </tr>
                <tr>
                    <td>4–8.</td>
                    <td>– Állatok világnapja – rajzverseny<br>
                        – Látogatás a Vadasparkban</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Megemlékezés az aradi vértanúkról: faliújság: okt. 6.</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Munkaközösségi foglalkozás: SNI és BTMN tanulók szakértői diagnózisainak megbeszélése iskolánk
                        fejlesztő pedagógusának segítségével </td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>– Munkaközösségi értekezletek<br>
                        – Mozaik tanulmányi verseny – nevezési határidő</td>
                </tr>
                <tr>
                    <td>2. hete</td>
                    <td>1. osztályosok kiválasztása a Diagnosztikai felmérésre /DIFER/, mérés folyamatosan november
                        30-ig</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>Foglalkozás óvodásoknak</td>
                </tr>
                <tr>
                    <td>12., 14.</td>
                    <td>Biztonságos internethasználat</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Bolyai matematika csapatverseny</td>
                </tr>
                <tr>
                    <td>20.</td>
                    <td>Bolyai Természettudományi Csapatverseny 3–8. osztályosoknak (nevezési határidő)</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Bűvösvölgy</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>Október 23. iskolai ünnepség</td>
                </tr>
                <tr>
                    <td>10.23. –11. 01.</td>
                    <td>Őszi szünet (utolsó tanítási nap október 22. első tanítási nap november 2.)</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>November</strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td>– Magatartás, szorgalom értékelése<br>
                        – Munkaközösségi megbeszélések</td>
                </tr>
                <tr>
                    <td></td>
                    <td>– Rendhagyó biológiaóra – az alkoholfogyasztás veszélyei prevenciós foglalkozás – 8.
                        osztály<br>
                        – Rendhagyó kémiaóra – légszennyezés veszélyei, az üvegházhatás – 7.
                        osztály<br>
                        – Városismereti
                        verseny – I. forduló<br>
                        – Kézilabda – osztályok közötti verseny<br>
                        – Kompetenciaméréshez adatok
                        felvitele<br>
                        – Szociometria mérések 5–8. o.</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>9. </td>
                    <td>Fogadóóra</td>
                </tr>
                <tr>
                    <td>15–19.</td>
                    <td>Versmondó verseny:1–2., 3–4. osztály</td>
                </tr>
                <tr>
                    <td>15–19.</td>
                    <td>A népdal és népköltészet hete</td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>Nyelvi nap</td>
                </tr>
                <tr>
                    <td>3–4. hete</td>
                    <td>Jeles napok: Gyermekfoglalkozás a Tápéi Fiókkönyvtárban</td>
                </tr>
                <tr>
                    <td>4.hete</td>
                    <td>Zrínyi Ilona Matematikaverseny – iskolai forduló</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bemutató óra a 2. osztályban</td>
                </tr>
                <tr>
                    <td>29.</td>
                    <td>Nevelési értekezlet, továbbképzés</td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>DIFER mérés leadása,1. osztály</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>December</strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td>– Magatartás, szorgalom értékelése<br>
                        – Rendhagyó biológiaóra – A dohányzás veszélyei prevenciós
                        foglalkozás 8. osztály<br>
                        – Rendhagyó biológia-, kémiaóra 7. osztályosoknak a klímaváltozásról és
                        annak következményeiről.<br>
                        – RMG angol nyelvi verseny<br>
                        – Kosárlabda – versenyek osztályok
                        között<br>
                        – Munkaközösségi értekezletek<br>
                        – Folyosódekoráció: Karácsony<br>
                        – Mikulás-vonat a Fővárosi
                        Nagycirkuszba</td>
                </tr>


                <tr>
                    <td>6.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>7. </td>
                    <td>Fogadóóra</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Karácsonyi kézműves foglalkozás, gyékényezés a tápéi gyékényező asszonyok segítségével</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Karácsonyi műsor</td>
                </tr>
                <tr>
                    <td>12. 22. – 01. 02.</td>
                    <td>Téli szünet (utolsó tanítási nap december 21., első tanítási nap január 3.</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Január</strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Magatartás, szorgalom értékelése</td>
                </tr>
                <tr>
                    <td></td>
                    <td>– Munkaközösségi megbeszélések<br>
                        – Megyei matematikaverseny<br>
                        – A Tisza élővilágának emléknapja
                        alkalmából
                        6. osztályosokkal rendhagyó természettudományóra.<br>
                        – Simonyi Zsigmond helyesírási verseny
                        iskolai
                        fordulója<br>
                        – Faliújság: Magyar Kultúra Napja</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Bolyai Természettudományi Csapatverseny – megyei forduló</td>
                </tr>
                <tr>
                    <td>2. hete</td>
                    <td>Óvodai foglalkozás</td>
                </tr>
                <tr>
                    <td>10–14.</td>
                    <td>Félévi felmérők összeállítása</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>Jégkorcsolya</td>
                </tr>
                <tr>
                    <td>20.</td>
                    <td>Osztályozó értekezlet</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Magyar Kultúra Napja</td>
                </tr>
                <tr>
                    <td></td>
                    <td>– Félévi érdemjegyek lezárása<br>
                        – Osztályozó értekezlet</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>I. félév lezárása</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>Központi írásbeli felvételi vizsga 8. osztály</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Osztályozó értekezlet</td>
                </tr>
                <tr>
                    <td>28-ig</td>
                    <td>Bizonyítványok kiosztása</td>
                </tr>
                <tr>
                    <td>31.</td>
                    <td>A Tisza élővilágának emléknapja alkalmából a 6. osztályosokkal rendhagyó természettudomány óra.
                    </td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Február</strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td>– Magatartás, szorgalom értékelése<br>
                        – Munkaközösségi megbeszélések<br>
                        – Kossuth Zsuzsa Szakképzési
                        Intézet
                        által hirdetett divatrajzpályázat<br>
                        – Nyelvész verseny iskolai fordulója<br>
                        – Tabán –Teszt –
                        Túra<br>
                        – Komplex
                        magyar nyelv és irodalom verseny<br>
                        – Közlekedő kisokos<br>
                        – Az újraélesztés iskolai
                        oktatása<br>
                        – Dekoráció:
                        Farsang<br>
                        – Színházlátogatás<br>
                        – Bendegúz NyelvÉsz verseny<br>
                        – MaTalent előkészületek</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Röplabda – osztályok közötti verseny</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Alsós farsang</td>
                </tr>
                <tr>
                    <td>1.hete</td>
                    <td>Félévi szülői értekezlet</td>
                </tr>
                <tr>
                    <td>2–3 hete</td>
                    <td>A 4. osztályban tanító nevelők hospitálása 5. osztályban</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>Alapítványi bál</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Házi helyesírási verseny</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Farsang (felsős)</td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>A kommunizmus áldozatainak emléknapja</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Március</strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td>– Magatartás, szorgalom értékelése<br>
                        – Bemutatóóra<br>
                        – Weöres illusztrációk pályázat<br>
                        – Arany János
                        Iskola
                        által meghirdetett rajzpályázat<br>
                        – Gedói Művészeti Iskola városi csendéletfestő
                        versenye<br>
                        – Nyelvész
                        verseny megyei fordulója<br>
                        – Simonyi Zsigmond helyesírási verseny megyei
                        fordulója<br>
                        – jégkorcsolya<br>
                        – Munkaközösségi megbeszélések<br>
                        – Folyosódekoráció: Víz
                        Világnapja<br>
                        – Közlekedő
                        kisokos</td>
                </tr>
                <tr>
                    <td>2. </td>
                    <td>Foglakozás óvodásoknak</td>
                </tr>
                <tr>
                    <td>3. </td>
                    <td>Bálint Sándor nap</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Nevelési értekezlet</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Herman Ottó verseny</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>7–11.</td>
                    <td>Pénz7</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Fogadóóra</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Március 15. – ünnepség</td>
                </tr>
                <tr>
                    <td>11. </td>
                    <td>Kompetenciaméréshez adatok küldése</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>Bolyai Természettudományi Csapatverseny 3–8. osztályosoknak – országos forduló</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>Víz Világnapja: látogatás a Víztoronyba</td>
                </tr>
                <tr>
                    <td>22–23.</td>
                    <td>Nyílt tanítási nap</td>
                </tr>
                <tr>
                    <td>4. hete</td>
                    <td>Matematika házi verseny</td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>DÖK nap</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Április</strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td>– Magatartás, szorgalom értékelése<br>
                        – Sziporka Országos Matematika Verseny<br>
                        – Tavaszi
                        papírgyűjtés<br>
                        – Munkaközösségi értekezletek<br>
                        – Folyosó dekoráció: Húsvét<br>
                        – Faliújság: Föld
                        Napja</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Szövegértési verseny</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Városi versenyek: helyesírás, matematika</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Sudoku verseny</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Szociometria mérések 5–8.o.</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>4–8.</td>
                    <td>Digitális témahét</td>
                </tr>
                <tr>
                    <td>11–15.</td>
                    <td>Költészet napja</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Versek megzenésítése</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Maratoni „Szaval az iskola” kihívás</td>
                </tr>

                <tr>
                    <td>14–19.</td>
                    <td>Tavaszi szünet</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>A magyarországi holokauszt napja</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Föld Napja – Füvészkert<br>
                        – divatbemutató</td>
                </tr>
                <tr>
                    <td>25–29.</td>
                    <td>Fenntarthatósági témahét programja<br>
                        beleillesztve:<br>
                        • Természettudományi hét (Zöld hét)<br>
                        • papírgyűjtés<br>
                        • sportdélután<br>
                        • elsősegélynyújtás <br>
                        • egészséges élet-mód, <br>
                        • Víztorony
                        látogatás<br>
                        • terápiás kutya foglalkozás</td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>Sudoku verseny</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Május</strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td>– Magatartás, szorgalom értékelése<br>
                        – Folyosódekoráció: Madarak és fák napja<br>
                        – Munkaközösségi
                        megbeszélések</td>
                </tr>
                <tr>
                    <td>2–6.</td>
                    <td>Szülői értekezlet</td>
                </tr>
                <tr>
                    <td>4–17.</td>
                    <td>Kompetenciamérés a 8. osztályban – nyelvi mérés</td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>Munkaértekezlet</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Bálint Sándor halálának évfordulója</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Madarak és fák napja – rendhagyó órák megtartása</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>Shakespeare műfordító verseny – Rókusi Általános iskola</td>
                </tr>
                <tr>
                    <td>18–31. </td>
                    <td>Kompetenciamérés a 6. osztályban – Nyelvi mérés</td>
                </tr>
                <tr>
                    <td>27.</td>
                    <td>Osztálykirándulások</td>
                </tr>
                <tr style="background-color: white;">
                    <td colspan="2" class="text-center"><strong>Június</strong></td>
                </tr>
                <tr>
                    <td>1. hete</td>
                    <td>– Magatartás, szorgalom értékelése<br>
                        – Gyermeknap: mozilátogatás</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Családi nap</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Nyelvi nap</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Nemzeti összetartozás napja – megemlékezés</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Iskolai vetélkedő – LOGIKA</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Munkaközösségi foglalkozás – éves munka értékelése</td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>Osztályozó értekezlet</td>
                </tr>
                <tr>
                    <td>10–14.</td>
                    <td>Határtalanul</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Netfit</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Ballagás</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Tanévzáró ünnepség</td>
                </tr>
                <tr>
                    <td>23.</td>
                    <td>Tanévzáró értekezlet</td>
                </tr>
                <tr>
                    <td>06. 16. – 06. 30.</td>
                    <td>Nyári napközis felügyelet</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cell auto"></div> -->
</div>