{{>head_bs_year_2023_24}}

<h3 class="subheader text-center">Eseménynaptár</h3>
<hr />
<div class="grid-x grid-margin-x">
  <div class="cell auto"></div>
  <div class="cell small-10 large-10">
    <h6 class="text-center">Hamarosan...</h6>
    <!-- <table class="hover">
      <thead style="background-color: lightskyblue">
        <tr>
          <td width="90px" class="text-center">Időpont</td>
          <td class="text-center">Téma</td>
        </tr>
      </thead>
      <tbody>
        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Augusztus</strong></td>
        </tr>
        <tr>
          <td>29-31.</td>
          <td>Szülői értekezletek</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Szeptember</strong></td>
        </tr>
        <tr>
          <td>1.</td>
          <td>Tanévnyitó ünnepség</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>Hangszerbemutató a tornateremben<br />Papírgyűjtés</td>
        </tr>
        <tr>
          <td>3.-4. hete</td>
          <td>
            Tájékoztató az iskolánkról a helyi óvodákban a szülői értekezleteken
          </td>
        </tr>
        <tr>
          <td>2-3 hete</td>
          <td>Biztonságos internethasználat</td>
        </tr>
        <tr>
          <td>30.</td>
          <td>
            Magyar népmese napja- meseelőadás<br />Magyar Diáksport Napja<br />Kutatók
            éjszakája
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            Érzékenyítő foglalkozás az alsó tagozatos osztályok számára
            (meghívott vendégekkel)
          </td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Október</strong></td>
        </tr>
        <tr>
          <td></td>
          <td>Foci – osztályok egymás között</td>
        </tr>
        <tr>
          <td>1.hét</td>
          <td>Zene Világnapja</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>Pályaorientációs nap</td>
        </tr>
        <tr>
          <td>3-7</td>
          <td>Állatok világnapja- projektnapok</td>
        </tr>
        <tr>
          <td>6.</td>
          <td>Megemlékezés az aradi vértanúkról</td>
        </tr>
        <tr>
          <td>2.hét</td>
          <td>Foglalkozás óvodásoknak</td>
        </tr>
        <tr>
          <td>15.</td>
          <td>DÖK nap</td>
        </tr>
        <tr>
          <td>17.</td>
          <td>Élelmezési világnap- osztályszinten vitamin-napot tartunk</td>
        </tr>
        <tr>
          <td>21.</td>
          <td>Október 23. iskolai ünnepség</td>
        </tr>
        <tr>
          <td>28.</td>
          <td>Idegen nyelvi nap - Halloween</td>
        </tr>
        <tr>
          <td>10.29-11.6</td>
          <td>
            Őszi szünet (utolsó tanítási nap október 28. első tanítási nap
            november 7.)
          </td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>November</strong></td>
        </tr>

        <tr>
          <td></td>
          <td>Kézilabda – osztályok közötti verseny</td>
        </tr>
        <tr>
          <td>14-18.</td>
          <td>Versmondó verseny:1-2., 3-4. osztály</td>
        </tr>
        <tr>
          <td>3-4 hét</td>
          <td>Jeles napok: Gyermekfoglalkozás a Tápéi Fiók- könyvtárban</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>December</strong></td>
        </tr>

        <tr>
          <td></td>
          <td>Kosárlabda – versenyek osztályok között</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>Fogadóóra</td>
        </tr>
        <tr>
          <td>6.</td>
          <td>Mikulás osztálykeretben</td>
        </tr>
        <tr>
          <td>2 hete</td>
          <td>Karácsonyi készülődés</td>
        </tr>
        <tr>
          <td>12.22-01.02.</td>
          <td>
            Téli szünet (utolsó tanítási nap december 21., első tanítási nap
            január 3.)
          </td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Január</strong></td>
        </tr>

        <tr>
          <td></td>
          <td>A Tisza élővilágának emléknapja</td>
        </tr>
        <tr>
          <td>2. hete</td>
          <td>Óvodai foglalkozás</td>
        </tr>
        <tr>
          <td>16-20.</td>
          <td>Magyar Kultúra Napja Projekthét</td>
        </tr>
        <tr>
          <td>21.</td>
          <td>I. félév lezárása</td>
        </tr>
        <tr>
          <td>21.</td>
          <td>Központi írásbeli felvételi vizsga 8. osztály</td>
        </tr>
        <tr>
          <td>27-ig</td>
          <td>Bizonyítványok kiosztása</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Február</strong></td>
        </tr>
        <tr>
          <td></td>
          <td>Az újraélesztés iskolai oktatás</td>
        </tr>
        <tr>
          <td>10.</td>
          <td>Alsós farsang</td>
        </tr>
        <tr>
          <td>6-10.</td>
          <td>Félévi szülői értekezlet</td>
        </tr>
        <tr>
          <td>11.</td>
          <td>BÁLintBÁL</td>
        </tr>
        <tr>
          <td>22.</td>
          <td>Magyar Parasport Napja – érzékenyítő program</td>
        </tr>
        <tr>
          <td>24.</td>
          <td>A kommunizmus áldozatainak emléknapja</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Március</strong></td>
        </tr>

        <tr>
          <td></td>
          <td>Foglakozás óvodásoknak</td>
        </tr>
        <tr>
          <td>13.</td>
          <td>Fogadóórák</td>
        </tr>
        <tr>
          <td>14.</td>
          <td>Március 15.- ünnepség</td>
        </tr>
        <tr>
          <td>22.</td>
          <td>
            Víz Világnapja: látogatás a Víztoronyba<br />Rendhagyó fizikaóra
          </td>
        </tr>
        <tr>
          <td>16.</td>
          <td>Nyílt tanítási nap</td>
        </tr>
        <tr>
          <td>28.</td>
          <td>Matematika házi verseny</td>
        </tr>
        <tr>
          <td>27-31.</td>
          <td>Digitális témahét</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Április</strong></td>
        </tr>
        <tr>
          <td>Április</td>
          <td></td>
        </tr>
        <tr>
          <td>12-14.</td>
          <td>
            Költészet napja – Posztolj egy verset<br />Maratoni „Szaval az
            iskola” kihívás<br />Irodalmi séta<br />Versek megzenésítése
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Papírgyűjtés</td>
        </tr>
        <tr>
          <td>6-11</td>
          <td>
            Tavaszi szünet utolsó tanítási nap: április 5., első taní tási nap
            április 12.)
          </td>
        </tr>
        <tr>
          <td>17.</td>
          <td>A holokauszt magyarországi áldozatainak emléknapja</td>
        </tr>
        <tr>
          <td>21.</td>
          <td>Föld Napja projekt</td>
        </tr>
        <tr>
          <td>24-28.</td>
          <td>Fenntarthatósági témahét</td>
        </tr>
        <tr>
          <td>20.</td>
          <td>Sudoku verseny</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Május</strong></td>
        </tr>

        <tr>
          <td>2-5.</td>
          <td>Szülői értekezlet</td>
        </tr>
        <tr>
          <td>10.</td>
          <td>Bálint Sándor halálának évfordulója</td>
        </tr>
        <tr>
          <td></td>
          <td>
            Madarak és fák napja- rendhagyó órák megtartása<br />Városismereti
            verseny
          </td>
        </tr>
        <tr>
          <td>11.</td>
          <td>Közlekedési kultúra napja</td>
        </tr>
        <tr>
          <td>19.</td>
          <td>Bálint Sándor nap</td>
        </tr>
        <tr>
          <td>31.</td>
          <td>A kihívás napja</td>
        </tr>

        <tr style="background-color: white">
          <td colspan="2" class="text-center"><strong>Június</strong></td>

        <tr>
          <td>1.hete</td>
          <td>Gyermeknap<br />Családi nap</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>Nemzeti összetartozás napja – megemlékezés<br />Nyelvi nap</td>
        </tr>
        <tr>
          <td>2.hete</td>
          <td>Közlekedési nap (KEVE program)</td>
        </tr>
        <tr>
          <td>17.</td>
          <td>Ballagás</td>
        </tr>
        <tr>
          <td>21.</td>
          <td>Tanévzáró ünnepség</td>
        </tr>
        </tr>
      </tbody>
    </table> -->
  </div>
  <div class="cell auto"></div>
</div>