<style>
    #jarasi-verseny td {
        padding: 0.4rem;
        line-height: 1.3rem;
    }
</style>
<div class="grid-x grid-margin-x">
    <div class="cell auto"></div>
    <div class="cell small-12 large-8">

        <table id="jarasi-verseny">
            <!-- <tr>
                <td><strong>Ünnepélyes megnyitó:</strong></td>
                <td>2024. április XX. (csütörtök) 13:30</td>
            </tr> -->
            <tr>
                <td><strong>A verseny
                        időpontja:</strong></td>
                <td>2024. április 23., kedd, 13 óra 30 perc</td>
            </tr>
            <tr>
                <td><strong>Helyszíne:</strong></td>
                <td>Szegedi Petőfi Sándor Általános Iskola,<br>Szeged, Benczúr Gyula u. 29. Tel.:
                    <a href="tel:+3662547076">+36 62 547 076</a>
                </td>
            </tr>
            <tr>
                <td><strong>Eredményhirdetés:</strong></td>
                <td>körülbelül 16:30 és 17 óra között<br>a Petőfi-telepi Művelődési Ház
                    színháztermében</td>
            </tr>
        </table>



    </div>
    <div class="cell auto"></div>
</div>
<p>A nevezéseket <strong>2024. április 17-ig</strong> a honlapunkon található regisztrációs felületen kérjük elküldeni:
</p>
<p class="text-center"><a href="https://petofiszeged.edu.hu/">https://petofiszeged.edu.hu/</a></p>

<p>
    A sikeres regisztrációról a kapcsolattartót automatikusan kiküldött e-mailben tájékozatjuk.
</p>

<p>
    <em>A jelentkezéshez szükséges a jelentkezési határidőig adatkezelési hozzájáruló nyilatkozatot tenni. A nyilatkozat
        le- és feltöltéséhez használható aloldal elérhető az alábbi gombra kattintva. A kitöltött, aláírt adatkezelési
        hozzájáruló nyilatkozatok feltölthetők a letöltéshez is használt aloldalon vagy ha ez nem lehetséges, akkor
        elküldhetők a <a href="mailto:titkarsag@petofiszeged.hu">titkarsag@petofiszeged.hu</a> e-mail
        címre.
    </em>
</p>
<p class="text-center">
    {{#ifpage 'hetedhet_orszagon_tul_regisztracio' }}
    <a class="button primary" style="font-size: 1.1rem; font-weight: 500; line-height: 1.2rem;"
        href="{{root}}versenyek/hetedhet_orszagon_tul_nyilatkozat_feltoltes.html">„Hetedhét
        országon
        túl…” mesemondó verseny<br><strong>NYILATKOZAT LETÖLTÉS/FELTÖLTÉS</strong>
    </a>
    {{/ifpage}}
    {{#ifpage 'szep_beszed_regisztracio' }}
    <a class="button secondary" style="font-size: 1.1rem; font-weight: 500; color: white; line-height: 1.2rem;"
        href="{{root}}versenyek/szep_beszed_nyilatkozat_feltoltes.html">„Szép beszéd” prózamondó
        verseny<br><strong>NYILATKOZAT LETÖLTÉS/FELTÖLTÉS</strong>
    </a>
    {{/ifpage}}
</p>

<p>
    <em>Amennyiben a nevezéssel vagy az adatkezelési nyilatkozat feltöltésével kapcsolatban nehézségbe
        ütköznek, kérjük,
        keressenek bennünket telefonon.</em>
</p>