<p>
    <em>Kérjük, hogy a regisztrációs felületről letölthető, kitöltött, aláírt adatkezelési hozzájáruló nyilatkozatokat a jelentkezési határidőig töltsék vissza a felületre vagy a <a href="mailto:titkarsag@petofiszeged.hu">titkarsag@petofiszeged.hu</a> e-mail címre küldjék el!</em>
</p>
<p>
    Amennyiben a nevezéssel vagy az adatkezelési nyilatkozat elküldésével kapcsolatban nehézségbe ütköznek, kérjük, keressenek bennünket telefonon.
</p>
{{#ifpage 'hetedhet_orszagon_tul_regisztracio' }}
<p>
    Szeretettel várjuk a tehetséges mesemondókat!
    <br>
    Minden kollégának és versenyzőnek eredményes felkészülést és jó munkát kívánunk!
</p>
{{/ifpage}}
{{#ifpage 'szep_beszed_regisztracio' }}
<p>
    Szeretettel várjuk a tehetséges prózamondókat!
    <br>
    Eredményes felkészülést, jó munkát kívánunk!
</p>
{{/ifpage}}
</p>