<div class="card">
    <div class="card-divider" style="margin: 0 auto; text-align: center;">
        <strong>Logopédus</strong>
    </div>
    <div class=" card-section">
        <p class="text-center">
            <em>Urban-Krix Ivett</em><br>
        </p>
        <div class="grid-x grid-margin-x">
            <div class="cell auto"></div>
            <div class="cell small-12 large-10">
                <table class="unstriped" style="border: 1px solid black;">
                    <tr>
                        <td rowspan="2">Elérhetőség</td>
                        <td>Székhely</td>
                        <td style="text-align: right;">péntekenként: 14:00–14:45</td>
                    </tr>
                    <tr>
                        <td>Tagiskola</td>
                        <td style="text-align: right;">péntekenként 12:05–12:50</td>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
            <div class="cell auto"></div>
        </div>
    </div>
</div>