<div class="card">
    <div class="card-divider" style="margin: 0 auto; text-align: center;">
        <strong>Logopédus</strong>
    </div>
    <div class=" card-section">
        <p class="text-center">
            <em>Dusik-Balázs Dóra</em><br>
        </p>
        <div class="grid-x grid-margin-x">
            <div class="cell auto"></div>
            <div class="cell small-12 large-10">
                {{>md_logopedus}}
            </div>
            <div class="cell auto"></div>
        </div>
    </div>
</div>