{{#ifequal hir "news01"}}
{{#markdown}}
**Szabó Viktória** negyedik osztályos tanuló a vármegyei matematika versenyen **III. helyezést ért el**.

Felkészítő tanára: *Fodorné Kiss Magdolna*.

*Köszönjük, Viki!*

🎉✨🎖️
{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news02"}}
{{#markdown}}
**Lajkó Boglárka** a Tudásbajnokság országos döntőjén matematikából **I. helyen végzett**.

Felkészítő tanára: *Fodorné Kiss Magdolna*.

*Gratulálunk a kitűnő eredményhez!*

🎉✨🎖️
{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news03"}}
{{#markdown}}
**Iskolánk röplabda válogatottja** a Röplabda Diákolimpia Országos Döntőjében V-VI. korcsoportban **7. helyen végzett.**.

*Köszönjük Szegedi Lászlónak a felkészítést.*

*Szép volt fiúk!*

🎉✨🎖️
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news04"}}
{{#markdown}}
* július 10. 9:00-13:00
* július 24. 9:00-13:00
* augusztus 7. 9:00-13:00
* augusztus 21. 9:00-13:00
{{/markdown}}
{{/ifequal}}