{{#ifequal hir "news01"}}
{{#markdown}}
**Szabó Viktória** negyedik osztályos tanuló a vármegyei matematika versenyen **III. helyezést ért el**.

Felkészítő tanára: *Fodorné Kiss Magdolna*.

*Köszönjük, Viki!*

🎉✨🎖️
{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news02"}}
{{#markdown}}
**Lajkó Boglárka** a Tudásbajnokság országos döntőjén matematikából **I. helyen végzett**.

Felkészítő tanára: *Fodorné Kiss Magdolna*.

*Gratulálunk a kitűnő eredményhez!*

🎉✨🎖️
{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news03"}}
{{#markdown}}
**Iskolánk röplabda válogatottja** a Röplabda Diákolimpia Országos Döntőjében V-VI. korcsoportban **7. helyen végzett.**.

*Köszönjük Szegedi Lászlónak a felkészítést.*

*Szép volt fiúk!*

🎉✨🎖️
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news04"}}
{{#markdown}}
* július 10. 9:00-13:00
* július 24. 9:00-13:00
* augusztus 7. 9:00-13:00
* augusztus 21. 9:00-13:00
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news05"}}
{{#markdown}}
A tankönyveket a szülők, vagy
megbízottjuk vehetik át.

*A tankönyvek fóliabevonatúak, ezért
nem kell becsomagolni őket!*

**A tankönyvek átvételének
időpontjai:**<br>
2024.08.27. 11:00-17:00<br>
2024.08.28. 07:00-13:00

Célszerű táskát hozni az
elvitelhez!
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news06"}}
{{#markdown}}
A 2024/2025-ös tanévben a tankönyveket<br>**az első tanítási napon fogjuk kiosztani**.

Kérjük, a hazaszállításra így készüljenek!

A tankönyvek borítója fóliabevonatú, ezért szükségtelen külön védőfóliát használni a védelem érdekében.
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news07"}}
{{#markdown}}
*Kedves Gyerekek! Kedves Szülők!*

**Szeretettel várunk mindenkit tanévnyitó ünnepségünkre!**

**Időpontja:** <span style="color: #ff4500;">**2024. szeptember 2. 9:00 óra**</span>

Megjelenés ünneplő ruhában. Gyülekező 7:30-tól az iskolában.

Ezen a napon osztályfőnöki órákat tartunk. Mindenki
hozzon magával üzenőfüzetet, tolltartót, órarendet.

**Ebéd 11:30-tól**.

Aki az első nap ebéd után haza szeretne menni,
kérjük, a szülői kikérőt mutassa be
osztályfőnökének.
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news08"}}
{{#markdown}}
*Kedves Gyerekek! Kedves Szülők!*

**Szeretettel várunk mindenkit tanévnyitó ünnepségünkre!**

**Időpontja:** <span style="color: #ff4500;">**2024. szeptember 2. 8:00 óra**</span>

Megjelenés ünneplő ruhában. Gyülekező 7:30-tól az iskolában.

Ezen a napon osztályfőnöki órákat tartunk. Mindenki
hozzon magával üzenőfüzetet, tolltartót, órarendet.

**Ebéd 11:45-től**.

Aki az első nap ebéd után haza szeretne menni,
kérjük, a szülői kikérőt mutassa be
osztályfőnökének.
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news09"}}
{{#markdown}}
|     |     |     |
| --- | --- | --- |
| 1\. oszt. | szept. 3. (kedd) | 16:30 |
| 2\. oszt. | szept. 4. (szerda) | 16:30 |
| 3\. oszt. | szept. 3. (kedd) | 16:30 |
| 4\. oszt. | szept. 2. (hétfő) | 16:30 |
| 5\. oszt. | szept. 5. (csüt.) | 17:00 |
| 6\. oszt. | szept. 3. (kedd) | 16:30 |
| 7\. oszt. | szept. 3. (kedd) | 16:30 |
| 8\. oszt. | szept. 5. (csüt.) | 17:00 |
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news10"}}
{{#markdown}}
|     |     |     |
| --- | --- | --- |
| 1\. oszt. | szept. 02. (hétfő) | 17:00 |
| 2\. oszt. | szept. 03. (kedd) | 16:30 |
| 3\. oszt. | szept. 04. (szerda) | 16:30 |
| 4\. oszt. | szept. 04. (szerda) | 16:30 |
| 5\. oszt. | aug. 27. (kedd) | 17:00 |
| 6\. oszt. | aug. 27. (kedd) | 16:30 |
| 7\. oszt. | aug. 27. (kedd) | 17:00 |
| 8\. oszt. | aug. 27. (kedd) | 17:00 |
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news11"}}
{{#markdown}}

{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news12"}}
{{#markdown}}

{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news13"}}
{{#markdown}}

{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news14"}}
{{#markdown}}

{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news15"}}
{{#markdown}}

{{/markdown}}
{{/ifequal}}


