<li>
  <a href="#">&thinsp;<i class="fas fa-camera"></i>&ensp;Fotó archívum</a>
  <ul class="menu vertical nested
  {{#ifpage
    'galeriak_2017_18_ps_bs'
    'galeriak_2018_19_ps_bs'
    'fooldal_2019_20_ps'
    'fooldal_2019_20_bs'
    'fooldal_2020_21_ps'
    'fooldal_2020_21_bs'
    'galeria_2019_20_ps'
    'galeria_2019_20_bs'
    'galeria_2020_21_ps'
    'galeria_2020_21_bs'

    
    }}
    is-active
  {{/ifpage}}">
    <li {{#ifpage 'galeriak_2017_18_ps_bs' }} class="current" {{/ifpage}}>
      <a href="{{root}}galeriak/galeriak_2017_18_ps_bs.html">2017–2018 {{>label}}</a>
    </li>
    <li {{#ifpage 'galeriak_2018_19_ps_bs' }} class="current" {{/ifpage}}>
      <a href="{{root}}galeriak/galeriak_2018_19_ps_bs.html">2018–2019 {{>label}}</a>
    </li>
    <li {{#ifpage 'fooldal_2019_20_ps' 'galeria_2019_20_ps' 'fooldal_2019_20_bs' 'galeria_2019_20_bs' }} class="current"
      {{/ifpage}}>
      <a href="{{root}}galeriak/2019_20/ps/fooldal_2019_20_ps.php">2019–2020 {{>label}}</a>
    </li>
    <li {{#ifpage 'fooldal_2020_21_ps' 'galeria_2020_21_ps' 'fooldal_2020_21_bs' 'galeria_2020_21_bs' }} class="current"
      {{/ifpage}}>
      <a href="{{root}}galeriak/2020_21/ps/fooldal_2020_21_ps.php">2020–2021 {{>label}}</a>
    </li>

  </ul>
</li>