<li>
  <a href="#">&thinsp;<i class="fas fa-lock"></i>&ensp;GDPR tájékoztatók</a>
  <ul class="menu vertical nested {{#ifpage 
    'tanuloknak_es_torv_kepviseloknek'
    'munkavallaloknak'
    'munkavallaloknak'
    'allaspalyazoknak'
    'szerzodeses_partnereknek'
    'hozzajarulo_nyilatk_psai_adatkezeles_rendezvenyeken'
    'adatkezelesi_tajekoztató_hit_es_erkolcstan'
    }}is-active{{/ifpage}}">

    <li {{#ifpage 'hozzajarulo_nyilatk_psai_adatkezeles_rendezvenyeken' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/hozzajarulo_nyilatk_psai_adatkezeles_rendezvenyeken.html">Tájékozató</a>
    </li>
    <li {{#ifpage 'tanuloknak_es_torv_kepviseloknek' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/tanuloknak_es_torv_kepviseloknek.html">Nyilatkozat</a>
    </li>
    <li {{#ifpage 'munkavallaloknak' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/munkavallaloknak.html">Munkavállalóknak</a>
    </li>
    <li {{#ifpage 'allaspalyazoknak' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/allaspalyazoknak.html">Álláspályázóknak</a>
    </li>
    <li {{#ifpage 'szerzodeses_partnereknek' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/szerzodeses_partnereknek.html">Szerződéses partnereknek</a>
    </li>
    <li {{#ifpage 'adatkezelesi_tajekoztató_hit_es_erkolcstan' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/adatkezelesi_tajekoztató_hit_es_erkolcstan.html">Hit- és erkölcstan oktatással
        kapcsolatos
        adatkezelés</a>
    </li>
  </ul>
</li>