<li>
    <a href="#"><i class="fas fa-chalkboard-teacher"></i> Bemutatkozás</a>
    <ul class="menu vertical nested
        {{#ifpage
            'bemutatkozas_ps_bs'
            'tanaraink_ps_bs'
            'hitoktatok_ps_bs'
            'felekezetek_bemutatkozasa'
            'felekezetek_katolikus'
            'felekezetek_reformatus'
            'felekezetek_baptista'
            'pedagogiai_program'
            'pedagogiai_program_2020'
            'szmsz_ps_bs'
            'kollektiv_szerzodes_ps_bs'
            'imip'
            'hazirend_ps_bs'
            'gyermekvedelem'
            'tankonyvek_ps_bs'
            'taneszkozok_ps_bs'
            'kek_ter_program'
            }}
            is-active
        {{/ifpage}}">
        <li{{#ifpage 'bemutatkozas_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}bemutatkozas/bemutatkozas_ps_bs.html">Bemutatkozás {{>label}}</a>
</li>
<li{{#ifpage 'tanaraink_ps_bs' }} class="current" {{/ifpage}}>
    <a href="{{root}}bemutatkozas/tanaraink_ps_bs.html">Tanáraink {{>label}}</a>
    </li>
    <li{{#ifpage 'hitoktatok_ps_bs_2019_20' }} class="current" {{/ifpage}}>
        <a href="{{root}}bemutatkozas/hitoktatok_ps_bs.html">Hitoktatóink {{>label}}</a>
        </li>
        <li{{#ifpage 'felekezetek_bemutatkozasa' 'felekezetek_katolikus' 'felekezetek_reformatus' 'felekezetek_baptista'
            }} class="current" {{/ifpage}}>
            <a href="{{root}}bemutatkozas/felekezetek_bemutatkozasa.html">Felekezetek bemutatkozása</a>
            </li>
            <li{{#ifpage 'pedagogiai_program' }} class="current" {{/ifpage}}>
                <a href="{{root}}bemutatkozas/pedagogiai_program.html">Pedagógiai program</a>
                </li>
                <li{{#ifpage 'pedagogiai_program_2020' }} class="current" {{/ifpage}}>
                    <a href="{{root}}bemutatkozas/pedagogiai_program_2020.html">Pedagógiai program 2020</a>
                    </li>
                    <li{{#ifpage 'szmsz_ps_bs' }} class="current" {{/ifpage}}>
                        <a href="{{root}}bemutatkozas/szmsz_ps_bs.html">SZMSZ</a>
                        </li>
                        <li{{#ifpage 'kollektiv_szerzodes_ps_bs' }} class="current" {{/ifpage}}>
                            <a href="{{root}}bemutatkozas/kollektiv_szerzodes_ps_bs.html">Kollektív szerződés</a>
                            </li>
                            <li{{#ifpage 'imip' }} class="current" {{/ifpage}}>
                                <a href="{{root}}bemutatkozas/imip.html">IMIP</a>
                                </li>
                                <li{{#ifpage 'hazirend_ps_bs' }} class="current" {{/ifpage}}>
                                    <a href="{{root}}bemutatkozas/hazirend_ps_bs.html">Házirend</a>
                                    </li>
                                    <li{{#ifpage 'gyermekvedelem' }} class="current" {{/ifpage}}>
                                        <a href="{{root}}bemutatkozas/gyermekvedelem.html">Gyermekvédelem</a>
                                        </li>
                                        <li{{#ifpage 'tankonyvek_ps_bs' }} class="current" {{/ifpage}}>
                                            <a href="{{root}}bemutatkozas/tankonyvek_ps_bs.html">Tankönyvek{{>label}}
                                            </a>
                                            </li>
                                            <li{{#ifpage 'taneszkozok_ps_bs' }} class="current" {{/ifpage}}>
                                                <a href="{{root}}bemutatkozas/taneszkozok_ps_bs.html">Taneszközök{{>label}}
                                                </a>
                                                </li>
                                                <li{{#ifpage 'kek_ter_program' }} class="current" {{/ifpage}}>
                                                    <a href="{{root}}bemutatkozas/kek_ter_program.html">Kék tér
                                                        program
                                                    </a>
                                                    </li>
                                                    </ul>
                                                    </li>