<li>
    <a href="#"><i class="fas fa-chalkboard-teacher"></i> Bemutatkozás</a>
    <ul class="menu vertical nested
        {{#ifpage
            'tanaraink_ps_bs'
            'hitoktatok_ps_bs_2019_20'
            'reformatus_hit_es_erkolcstan_tajekoztato_2019_20'
            'pedagogiai_program_2019_20'
            'ped_prog_mellekletei_ps_bs'
            'szmsz_ps_bs_2019_20'
            'kollektiv_szerzodes_ps_bs'
            'imip'
            'hazirend_ps_bs'
            'gyermekvedelem'
            'tankonyvek_ps_bs'
            'taneszkozok_ps_bs'
            }}
            is-active
        {{/ifpage}}">
                <li{{#ifpage 'tanaraink_ps_bs   '}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/tanaraink_ps_bs.html">Tanáraink {{>label}}</a>
                </li>
                <li{{#ifpage 'hitoktatok_ps_bs_2019_20'}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/hitoktatok_ps_bs_2019_20.html">Hitoktatóink {{>label}}</a>
                </li>
                <li{{#ifpage 'reformatus_hit_es_erkolcstan_tajekoztato_2019_20'}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/reformatus_hit_es_erkolcstan_tajekoztato_2019_20.html">Református hit- és erkölcstan tájékoztató beiratkozáshoz</a>
                </li>
                <li{{#ifpage 'pedagogiai_program_2019_20'}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/pedagogiai_program_2019_20.html">Pedagógiai program</a>
                </li>
                <li{{#ifpage 'ped_prog_mellekletei_ps_bs'}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/ped_prog_mellekletei_ps_bs.html">Pedagógiai program mellékletei</a>
                </li>
                <li{{#ifpage 'szmsz_ps_bs_2019_20'}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/szmsz_ps_bs_2019_20.html">SZMSZ</a>
                </li>
                <li{{#ifpage 'kollektiv_szerzodes_ps_bs'}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/kollektiv_szerzodes_ps_bs.html">Kollektív szerződés</a>
                </li>
                <li{{#ifpage 'imip'}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/imip.html">IMIP</a>
                </li>
                <li{{#ifpage 'hazirend_ps_bs'}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/hazirend_ps_bs.html">Házirend</a>
                </li>
                <li{{#ifpage 'gyermekvedelem'}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/gyermekvedelem.html">Gyermekvédelem</a>
                </li>
                <li{{#ifpage 'tankonyvek_ps_bs'}} class="current"{{/ifpage}}>
                    <a href="{{root}}bemutatkozas/tankonyvek_ps_bs.html">Tankönyvek{{>label}} </a>
                </li>
                <li{{#ifpage 'taneszkozok_ps_bs'}} class="current"{{/ifpage}}>
                <a href="{{root}}bemutatkozas/taneszkozok_ps_bs.html">Taneszközök{{>label}} </a>
            </li>
    </ul>
</li>