<li>
  <a href="#"><i class="fas fa-list"></i>&thinsp;&thinsp;&thinsp;Közzétételi lista</a>
  <ul class="menu vertical nested
    {{#ifpage
        'felveteli_tajekoztato'
        'beiratkozaskor_leadando_nyomtatvanyok'
        'ps_bs_beiratkozasi_korzet'
        }}
        is-active
    {{/ifpage}}">
    <li>
      <a href="#">Felvételi lehetőségről<br />szóló tájékoztató</a>
      <ul class="menu vertical nested
          {{#ifpage
            'felveteli_tajekoztato'
            'beiratkozaskor_leadando_nyomtatvanyok'
            'ps_bs_beiratkozasi_korzet'
            }}
            is-active
        {{/ifpage}}">
        <li {{#ifpage 'felveteli_tajekoztato'}} class="current" {{/ifpage}}>
          <a href="{{root}}kozzeteteli_lista/felveteli_tajekoztato.html">Felvételi lehetősége</a>

        </li>
        <li {{#ifpage 'beiratkozaskor_leadando_nyomtatvanyok'}} class="current" {{/ifpage}}>
          <a href="{{root}}kozzeteteli_lista/beiratkozaskor_leadando_nyomtatvanyok.html">Beiratkozáskor leadandó nyomtatványok</a>
        </li>

        <li {{#ifpage 'ps_bs_beiratkozasi_korzet'}} class="current" {{/ifpage}}>

          <a href="{{root}}/beiratkozas/ps_bs_beiratkozasi_korzet.html">Körzetünk</a>
        </li>
        <li>
          <a href="{{root}}beiratkozas/iskolahivagato_ps_bs_2020_21.html">Iskolahívogatók {{>label}}</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Beiratkozás ideje,<br />engedélyezett osztályok,<br />csoportok száma</a>
      <ul class="menu vertical nested">
        <li>
          <a href="#">Beiratkozás ideje</a>
          <ul class="menu vertical nested">
            <ul class="menu vertical nested">
              <ul class="menu">
                <a href="{{root}}assets/beiratkozas/beiratkozas_ps_2019_20.pdf" target="_blank">Petőfi</a>&emsp;
                <a href="{{root}}assets/beiratkozas/beiratkozas_bs_2019_20.pdf" target="_blank">Bálint</a>
              </ul>
            </ul>
        </li>

      </ul>
    <li>
      <a href="{{root}}assets/beiratkozas/osztalyok_szama_ps_bs_2018_19.pdf" target="_blank">Engedélyezett osztályok
        száma</a>

    <li>
      <a href="{{root}}assets/beiratkozas/csoportok_szama_ps_bs_2018_19.pdf" target="_blank">Engedélyezett csoportok
        száma</a>
    </li>
</li>


</ul>
</li>