<li>
  <a href="#"><i class="fas fa-pencil"></i>&thinsp;&thinsp;&thinsp;Beiratkozás, felvétel</a>
  <ul class="menu vertical nested
    {{#ifpage
        ''
        ''
        ''
        ''
        ''
        ''
        ''
        ''
        ''
        ''

      }}
        is-active
    {{/ifpage}}">


    <li {{#ifpage 'beiratkozas_ideje_ps_bs'}} class="current" {{/ifpage}}>
      <a href="{{root}}kozzeteteli_lista/beiratkozas_ideje_ps_bs.html">A 2020/21-es tanév elsősei {{>label}}</a>
    </li>
    <li {{#ifpage 'fentart_altal_eng_oszt_csop'}} class="current" {{/ifpage}}>
      <a href="{{root}}kozzeteteli_lista/fentart_altal_eng_oszt_csop.html">Tájékoztató a beiratkozásról</a>
    </li>
    <li {{#ifpage 'teritesi_dij_tandij'}} class="current" {{/ifpage}}>
      <a href="{{root}}kozzeteteli_lista/teritesi_dij_tandij.html">Beiratkozáskor leadandó nyomtatványok</a>
    </li>
    <li {{#ifpage 'etkezesi_teritesi_dijak'}} class="current" {{/ifpage}}>
      <a href="{{root}}kozzeteteli_lista/etkezesi_teritesi_dijak.html">Engedélyezett osztályok száma</a>
    </li>
    <li {{#ifpage 'nyitvatartas'}} class="current" {{/ifpage}}>
      <a href="{{root}}kozzeteteli_lista/nyitvatartas.html">Engedélyezett csoportok száma</a>
    </li>
    <li {{#ifpage 'esemenynaptar_ps_bs_2019_20'}} class="current" {{/ifpage}}>
      <a href="{{root}}esemenynaptar_ps_bs_2019_20.html">Iskolahívogatók</a>
    </li>
  </ul>
</li>