<li>
  <a href="#"><i class="fas fa-pencil"></i>&thinsp;&thinsp;&thinsp;Beiratkozás, felvétel</a>
  <ul class="menu vertical nested
    {{#ifpage
        '1_2020'
        'tajekoztato_beiratkozasrol'
        'beiratkozaskor_leadando_nyomtatvanyok'
        'engedelyezett_osztalyok_csoportok_szama_ps_bs'
        'iskolahivagato_ps_bs'
        ''
        ''
        ''
        ''
        ''

      }}
        is-active
    {{/ifpage}}">


    <li {{#ifpage '1_2020'}} class="current" {{/ifpage}}>
      <a href="{{root}}osztalyaink/1_2020.html">A 2020/21-es tanév elsősei {{>label}}</a>
    </li>
    <li {{#ifpage 'tajekoztato_beiratkozasrol'}} class="current" {{/ifpage}}>
      <a href="{{root}}beiratkozas/tajekoztato_beiratkozasrol.html">Tájékoztató a beiratkozásról</a>
    </li>
    <li {{#ifpage 'beiratkozaskor_leadando_nyomtatvanyok'}} class="current" {{/ifpage}}>
      <a href="{{root}}beiratkozas/beiratkozaskor_leadando_nyomtatvanyok.html">Beiratkozáskor leadandó nyomtatványok</a>
    </li>
    <li {{#ifpage 'engedelyezett_osztalyok_csoportok_szama_ps_bs'}} class="current" {{/ifpage}}>
      <a href="{{root}}beiratkozas/engedelyezett_osztalyok_csoportok_szama_ps_bs.html">Engedélyezett osztályok és csoportok száma</a>
    </li>
    <li {{#ifpage 'iskolahivagato_ps_bs'}} class="current" {{/ifpage}}>
      <a href="{{root}}beiratkozas/iskolahivagato_ps_bs.html">Iskolahívogatók</a>
    </li>
  </ul>
</li>