<style>
  .current a {
    color: #FFA500;
    line-height: 1.3rem;

  }

  .accordion-title {
    box-shadow: inset 0 -1px #a2e7f6;
  }

  .accordion-menu a {
    box-shadow: inset 0 -1px #a2e7f6;
    line-height: 1.3rem;
  }
</style>

<ul class="vertical menu accordion-menu" data-accordion-menu>

  <li>
    <a href="#">&thinsp;&thinsp;<i class="fas fa-map-marker-alt"></i>&thinsp;&thinsp;Elérhetőségeink</a>
    <ul class="menu vertical nested {{#ifpage 'elerhetosegeink' 'elerhetosegeink_helyunk_a_terkepen_ps_bs'}}is-active{{/ifpage}}">
      <li {{#ifpage 'elerhetosegeink'}} class="current" {{/ifpage}}>
        <a href="{{root}}bemutatkozas/elerhetosegeink.html">Címek, e-mailcímek, telefonszámok</a>
      </li>
      <li {{#ifpage 'elerhetosegeink_helyunk_a_terkepen_ps_bs'}} class="current" {{/ifpage}}>
        <a href="{{root}}elerhetosegeink_helyunk_a_terkepen_ps_bs.html">Helyünk a térképen {{>label}}</a>
      </li>
    </ul>
  </li>
  {{>menu_bemutatkozas}}
  <li>
    <a href="#">&thinsp;<i class="fas fa-utensils"></i>&ensp;Étkezési információk</a>
    <ul class="menu vertical nested {{#ifpage 'kozetkeztetes' 'befiz_idopontok_arak_ps_bs'}}is-active{{/ifpage}}">
      <li{{#ifpage 'www.ngsz.hu'}} class="current" {{/ifpage}}>
        <a href="http://www.ngsz.hu/index.php/kozetkeztetes" target="_blank">Étkezés – NGSZ információk</a>
      </li>
      <li{{#ifpage 'befiz_idopontok_arak_ps_bs'}} class="current" {{/ifpage}}>
        <a href="{{root}}befiz_idopontok_arak_ps_bs.html">Befizetési időpontok, árak</a>
      </li>
    </ul>
  </li>
  {{>menu_kozzeteteli_lista}}
</ul>

