<h6 class="subheader text-center" id="count2b">
</h6>

<div class="grid-x grid-margin-x">
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="21b">
				<tr>
					<td>Bajúsz Kata Napsugár</td>
				</tr>
				<tr>
					<td>Botos Milán László</td>
				</tr>
				<tr>
					<td>Bujtor Barnabás</td>
				</tr>
				<tr>
					<td>Fehér Marcell Roland</td>
				</tr>
				<tr>
					<td>Hegedűs Richárd</td>
				</tr>
				<tr>
					<td>Hlbocsányi Liza</td>
				</tr>
				<tr>
					<td>Jani Milán Ádám</td>
				</tr>
				<tr>
					<td>Kardos Anna Réka</td>
				</tr>
				<tr>
					<td>Katona Izabella Jázmin</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="22b">
				<tr>
					<td>Kis Olívia Ágnes</td>
				</tr>
				<tr>
					<td>Kocsis Hella Jázmin</td>
				</tr>
				<tr>
					<td>Kovács Andor </td>
				</tr>
				<tr>
					<td>Laczi Helga </td>
				</tr>
				<tr>
					<td>Nagy Ramóna Dorka</td>
				</tr>
				<tr>
					<td>Oláh Bence Levente</td>
				</tr>
				<tr>
					<td>Oltványi Zsolt Roland</td>
				</tr>
				<tr>
					<td>Ördögh Roland</td>
				</tr>
				<tr>
					<td>Pigniczki Milán</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="23b">
				<tr>
					<td>Sarlai Armand</td>
				</tr>
				<tr>
					<td>Siklósi Ádám Attila</td>
				</tr>
				<tr>
					<td>Szántó Szófia</td>
				</tr>
				<tr>
					<td>Tóth Attila</td>
				</tr>
				<tr>
					<td>Tóth Gergő László</td>
				</tr>
				<tr>
					<td>Tóth Olivér</td>
				</tr>
				<tr>
					<td>Török Ádám</td>
				</tr>
				<tr>
					<td>Török Máté</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

