<h6 class="subheader text-center" id="count1b">
</h6>

<div class="grid-x grid-margin-x">
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="11b">
				<tr>
					<td>Balázs Ervin</td>
				</tr>
				<tr>
					<td>Benecz Petra</td>
				</tr>
				<tr>
					<td>Békési Barnabás</td>
				</tr>
				<tr>
					<td>Békési Benett</td>
				</tr>
				<tr>
					<td>Bodó Roland</td>
				</tr>
				<tr>
					<td>Boros Nóra</td>
				</tr>
				<tr>
					<td>Bozóki Máté Botond</td>
				</tr>
				<tr>
					<td>Bujdosó André Noel</td>
				</tr>
				<tr>
					<td>Bujdosó Tamás</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="12b">
				<tr>
					<td>Csetneky Vilmos</td>
				</tr>
				<tr>
					<td>Garamvölgyi Csanád</td>
				</tr>
				<tr>
					<td>Kis Antal Bence</td>
				</tr>
				<tr>
					<td>Kiss Judit</td>
				</tr>
				<tr>
					<td>Kiss Máté Attila</td>
				</tr>
				<tr>
					<td>Kiss-Molnár Flóra Erzsébet</td>
				</tr>
				<tr>
					<td>Ladovszki Zsófia</td>
				</tr>
				<tr>
					<td>Lajkó Boglárka</td>
				</tr>
				<tr>
					<td>Nagy Máté Mihály</td>
				</tr>

			</tbody>
		</table>
	</div>
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="13b">
				<tr>
					<td>Porkoláb Aida Fanni</td>
				</tr>
				<tr>
					<td>Sipos Dóra</td>
				</tr>
				<tr>
					<td>Szabó Viktória Dorka</td>
				</tr>
				<tr>
					<td>Széll Hédi</td>
				</tr>
				<tr>
					<td>Tóth Barnabás</td>
				</tr>
				<tr>
					<td>Török Fanni</td>
				</tr>
				<tr>
					<td>Vadász Eszter</td>
				</tr>
				<tr>
					<td>Valkó Dominik</td>
				</tr>
				<tr>
					<td>Varga Magor Zétény</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>