<h6 class="subheader text-center" id="count4b">
</h6>

<div class="grid-x grid-margin-x">
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="41b">
				{{>osztaly_41b}}

			</tbody>
		</table>
	</div>
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="42b">
				{{>osztaly_42b}}


			</tbody>
		</table>
	</div>
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="43b">

				{{>osztaly_43b}}

			</tbody>
		</table>
	</div>
</div>