<h5 class="text-center">Osztályaink</h5>
<hr style="height:1px; border:none; color:#3fa9f5; background-color:#3fa9f5; margin-top: -0.5px;">
<ul class="accordion" data-accordion data-deep-link="true" data-update-history="true" data-deep-link-smudge="true"
  data-deep-link-smudge-delay="500" id="panel2d">
  <!-- 1. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#1b" class="accordion-title text-center">1. osztály</a>
    <div class="accordion-content" data-tab-content id="1b">
      {{> osztaly_1b}}
    </div>
  </li>
  <!-- 2. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#panel2d2b" class="accordion-title text-center">2. osztály</a>
    <div class="accordion-content" data-tab-content id="panel2d2b">
      {{> osztaly_2b}}
    </div>
  </li>
  <!-- 3. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#3b" class="accordion-title text-center">3. osztály</a>
    <div class="accordion-content" data-tab-content id="3b">
      {{> osztaly_3b}}
    </div>
  </li>
  <!-- 4. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#4b" class="accordion-title text-center">4. osztály</a>
    <div class="accordion-content" data-tab-content id="4b">
      {{> osztaly_4b}}
    </div>
  </li>
  <!-- 5. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#5b" class="accordion-title text-center">5. osztály</a>
    <div class="accordion-content" data-tab-content id="5b">
      {{> osztaly_5b}}
    </div>
  </li>
  <!-- 6. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#6b" class="accordion-title text-center">1. osztály</a>
    <div class="accordion-content" data-tab-content id="6b">
      {{> osztaly_1a}}
    </div>
  </li>
  <!-- 7. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#7b" class="accordion-title text-center">1. osztály</a>
    <div class="accordion-content" data-tab-content id="7b">
      {{> osztaly_7b}}
    </div>
  </li>
  <!-- 8. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#8b" class="accordion-title text-center">8. osztály</a>
    <div class="accordion-content" data-tab-content id="8b">
      {{> osztaly_8b}}
    </div>
  </li>
</ul>