<h6 class="subheader text-center" id="count1">
</h6>

<div class="grid-x grid-margin-x">
	<div class="cell small-12 large-4">
		<table id="table1" class="hover">
			<tbody id="11">

				<tr>
					<td>Ábrahám Médea</td>
				</tr>
				<tr>
					<td>Bogos Balázs </td>
				</tr>
				<tr>
					<td>Dávid Damián Nolen</td>
				</tr>
				<tr>
					<td>Fábri Méda Lilla </td>
				</tr>
				<tr>
					<td>Fekete Zétény</td>
				</tr>
				<tr>
					<td>Fenyvesi Gábor Milán </td>
				</tr>
				<tr>
					<td>Galiba Gergő Gábor</td>
				</tr>
				<tr>
					<td>Győri Kevin Dávid</td>
				</tr>

			</tbody>
		</table>
	</div>
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="12">
				<tr>
					<td>Héger Levente</td>
				</tr>
				<tr>
					<td>Kenderessy Szabó Hanna Flóra </td>
				</tr>
				<tr>
					<td>Kormányos Tamás József</td>
				</tr>
				<tr>
					<td>Marozsi Lia </td>
				</tr>
				<tr>
					<td>Molnár Mira</td>
				</tr>
				<tr>
					<td>Molnár Petra Tímea</td>
				</tr>
				<tr>
					<td>Nyilasi Martin</td>
				</tr>
				<tr>
					<td>Szabó Bátor Levente</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="13">
				<tr>
					<td>Szászik Viktória</td>
				</tr>
				<tr>
					<td>Szűcs-Papp Máté Gábor </td>
				</tr>
				<tr>
					<td>Szűcs-Tóth Tamás</td>
				</tr>
				<tr>
					<td>Tamás Abigél</td>
				</tr>
				<tr>
					<td>Tarkó Bence Antal</td>
				</tr>
				<tr>
					<td>Urbán Jázmin Lara </td>
				</tr>
				<tr>
					<td>Vass Bence</td>
				</tr>
			</tbody>
		</table>
	</div>