<h6 class="subheader text-center" id="count2">
</h6>

<div class="grid-x grid-margin-x">
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="21">
				<tr>
					<td>Ács Bence Balázs</td>
				</tr>
				<tr>
					<td>Ács Petra Panka</td>
				</tr>
				<tr>
					<td>Balogh Eszter</td>
				</tr>
				<tr>
					<td>Bokor Dorka Gabriella</td>
				</tr>
				<tr>
					<td>Boldvai Barnabás</td>
				</tr>
				<tr>
					<td>Borbás Luca</td>
				</tr>
				<tr>
					<td>Borzák Hanna Mária</td>
				</tr>
				<tr>
					<td>Csentes Balázs</td>
				</tr>
				<tr>
					<td>Debreczeni Bella</td>
				</tr>
				<tr>
					<td>Dóka Alexandra Sarolta</td>
				</tr>

			</tbody>
		</table>
	</div>
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="22">
				<tr>
					<td>Fleckenstein Regina</td>
				</tr>
				<tr>
					<td>Háló Lea Fanni</td>
				</tr>
				<tr>
					<td>Horváth Viviána Mira</td>
				</tr>
				<tr>
					<td>Hunvölgyi Emil</td>
				</tr>
				<tr>
					<td>Karácsonyi Kornél</td>
				</tr>
				<tr>
					<td>Keczer Janka</td>
				</tr>
				<tr>
					<td>Mikó Zalán</td>
				</tr>
				<tr>
					<td>Nagy Lili</td>
				</tr>
				<tr>
					<td>Németh Liliána Rozina</td>
				</tr>
				<tr>
					<td>Papp Lili Kitti</td>
				</tr>

			</tbody>
		</table>
	</div>
	<div class="cell small-12 large-4">
		<table class="hover">
			<tbody id="23">
				<tr>
					<td>Petró Timót</td>
				</tr>
				<tr>
					<td>Sebők Csenge Stefánia</td>
				</tr>
				<tr>
					<td>Sipőcz Gina</td>
				</tr>
				<tr>
					<td>Sirián Bence</td>
				</tr>
				<tr>
					<td>Sztanojev Olívia</td>
				</tr>
				<tr>
					<td>Tábit Máté Gábor </td>
				</tr>
				<tr>
					<td>Tandari Ádám</td>
				</tr>
				<tr>
					<td>Tóth - Szélpál Ibolya Anna</td>
				</tr>
				<tr>
					<td>Veverka Noel Milán</td>
				</tr>
				</tr>
			</tbody>
		</table>
	</div>
</div>
