<script>
    function highlight(image) {
        image.src = "{{root}}assets/img/hatartalanul_logo_right_column_dark.jpg";
    }
    function unhighlight(image) {
        image.src = "{{root}}assets/img/hatartalanul_logo_right_column_light.jpg";
    }
    function highlight2(image) {
        image.src = "{{root}}assets/img/palyazatok/iskolakerti_alapozo_logo_dark.jpg";
    }
    function unhighlight2(image) {
        image.src = "{{root}}assets/img/palyazatok/iskolakerti_alapozo_logo_light.jpg";
    }
</script>



<div class="cell medium-12 large-3">

    <!-- <p class="text-center" style="line-height: 1.2rem;">
        <small>
            <strong>Elsősök beiratkozása:</strong>
        </small>
        <a href="https://eugyintezes.e-kreta.hu/" target="_blank" class="success button small"
            style="color: white; line-height: 1.5rem; width: 120px; margin-top: 0.5rem;">
            <img src="{{root}}assets/img/kreta-logo.png">
            <br>
            <strong>e-Ügyintézés</strong></a>
    </p>
    <hr style="margin-top: -1rem; margin-bottom: -0.2rem"> -->

    <p class="text-center" style="line-height: 1.2rem;">

        <br>
        <a href="https://klik200218001.e-kreta.hu" target="_blank" class="success button small"
            style="color: white; line-height: 1.5rem; width: 120px;">
            <img src="{{root}}assets/img/kreta-logo.png">
            <br>
            <strong>petofi.e-kreta.hu</strong></a>
        <br>
        <span style="margin-top: 3rem; margin-bottom: 2rem;">
            <small>
                Belépéssel kapcsolatos segítséget az alábbi e-mail címen kaphat:<br>
                <a href="mailto:igazgato@petofiszeged.hu"> igazgato@petofiszeged.hu</a>
            </small>
        </span>
        <br>
        <br>
        <a href="https://klik200218003.e-kreta.hu" target="_blank" class="success button small"
            style="color: white; line-height: 1.5rem; width: 120px;">
            <strong> <img src="{{root}}assets/img/kreta-logo.png"><br>
                balint.e-kreta.hu</strong></a>
    </p>
    <hr style="margin-top: -0.6rem; margin-bottom: 1.2rem">

    <p class="text-center" style="line-height: 1.2rem;">



        <a href=https://www.facebook.com/petofiszeged target="_blank" class="primary button small" id="hover"
            style="width: 120px;">
            <i class="fab fa-facebook-f fa-lg" style="color: white">&ensp;</i>PS Facebook</a>
        <br>
        <a href=https://www.facebook.com/balintszeged/ target="_blank" class="primary button small"
            style="width: 120px;">
            <i class="fab fa-facebook-f fa-lg" style="color: white">&ensp;</i>BS Facebook</a>





    <p class="text-center" style="line-height: 1.3rem; margin-top: 1.5rem; margin-bottom: 0rem;">
        <strong>Határtalanul!<br>pályázataink</strong><br>
        <a href="{{root}}palyazatok/hatartalanul_palyazataink.html"><img onmouseenter="highlight(this)"
                onmouseleave="unhighlight(this)" src="{{root}}assets/img/hatartalanul_logo_right_column_light.jpg"></a>
    </p>

    <hr style="margin-top: 1rem; margin-bottom: -1rem">

    <p class="text-center" style="line-height: 1.3rem; margin-top: 1.5rem; margin-bottom: 0rem;">
        <strong>Iskolakert<br>pályázatunk</strong><br>
        <a href="{{root}}palyazatok/iskolakert.html"><img onmouseenter="highlight2(this)"
                onmouseleave="unhighlight2(this)"
                src="{{root}}assets/img/palyazatok/iskolakerti_alapozo_logo_light.jpg"></a>
    </p>

    <hr style="margin-top: 1rem; margin-bottom: 0rem">
    <p class="text-center">
        <a href="{{root}}palyazatok/digitalis_temahet.html">
            <img src="{{root}}assets/img/palyazatok/digitalis_temahet.jpg" alt="">
        </a>

    </p>

    <hr style="margin-top: 1.2rem; margin-bottom: 1rem">

    <p class="text-center" style="line-height: 1.2rem">
        <small><strong>Iskolánk részt vesz<br>az iskolagyümölcs<br>programban.</strong></small>
        <img src="{{root}}assets/img/iskolagyumolcs_logo.jpg" alt="">
    </p>
    <hr style="margin-top: 0.5rem; margin-bottom: 0.6rem">


    <p class="text-center" style="line-height: 1.3rem; margin-top: 1rem; margin-bottom: 0.5rem;">
        <strong>Korábbi évek hírfolyamai:</strong>
    </p>
    <p class="text-center">
        <a href="{{root}}hirfolyam_2019_20.html">2019–2020-as tanév</a>
        <a href="{{root}}hirfolyam_2018_19.html">2018–2019-es tanév</a>
        <a href="{{root}}hirfolyam_2017_18.html">2017–2018-as tanév</a>
        <a href="{{root}}hirfolyam_2016_17.html">2016–2017-es tanév</a>
    </p>

    <!-- cell medium-9 medium-cell-block-y lezárása -->
</div>
</div>