<style type="text/css">
    .callout {
        text-align: center;
    }
</style>



<div class="cell medium-9 medium-cell-block-y" id="main-content">
    <div class="grid-x grid-margin-x">

        <!-- for small -->
        <!-- <div class="small-7 columns show-for-small-only">
            <span class="search-button" data-toggle="inline-search"></span>
            <a href="#" class="float-right small hollow button mobile-nav-button" data-open="navModal">Component
                List</a>
            <div class="reveal nav-modal" id="navModal" data-reveal>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="inline-search" class="inline-search" data-toggler="expanded">
                <input type="text" class="docs-search" data-docs-search
                    placeholder="Find a page, component, variable, mixin, function...">
            </div>
        </div> -->
        <!-- for large -->
        <div class="small-12 columns">
            <br>
            <input type="text" class="docs-search" data-docs-search placeholder="Írjon be egy keresőkifejezést!">

            <br>
        </div>