{{> head_bs_year_2022_23_hamarosan}}

<h5 class="text-center" style="margin-bottom: 1.1rem">
  SZAKTÁRGYI KORREPETÁLÁSOK
</h5>

<table class="hover">
  <thead>
    <tr>
      <td>Osztály</td>
      <td>Időpont</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tr>
    <td>5–6. osztály</td>
    <td>hétfő 7. óra</td>
    <td>Széllné Bartók Mária</td>
  </tr>
  <tr>
    <td>5–6. osztály</td>
    <td>szerda 7. óra</td>
    <td>Nagyistók Zsuzsanna</td>
  </tr>
  <tr>
    <td>6. osztály</td>
    <td>péntek 6. óra</td>
    <td>Czeróczki Claudia</td>
  </tr>
  <tr>
    <td>7. osztály</td>
    <td>péntek 7. óra</td>
    <td>Nagyistók Zsuzsanna</td>
  </tr>
  <tr>
    <td>7. osztály</td>
    <td>hétfő 7. óra</td>
    <td>Skultéti Katalin</td>
  </tr>
  <tr>
    <td>7. osztály</td>
    <td>csütörtök 7. óra</td>
    <td>Nagyistók Zsuzsanna</td>
  </tr>
  <tr>
    <td>8. osztály</td>
    <td>kedd 7. óra</td>
    <td>Nagyistók Zsuzsanna</td>
  </tr>
  <tr>
    <td>8. osztály</td>
    <td>kedd 7. óra</td>
    <td>Czeróczki Claudia</td>
  </tr>
</table>
