<h5 class="text-center" style="margin-bottom: 1.1rem">
  Szakkörök 2020–2021
</h5>
<table class="hover">
  <thead>
    <tr>
      <td>Szakkörök</td>
      <td>Időpont</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Német 6. osztály</td>
      <td>hétfő 7. óra</td>
      <td>Haumann Anett</td>
    </tr>
    <tr>
      <td>Kerámia szakkör</td>
      <td>hétfő 8. óra</td>
      <td>Czeglédyné Somi Éva</td>
    </tr>
    <tr>
      <td>Rajz szakkör</td>
      <td>hétfő 9. óra</td>
      <td>Czeglédyné Somi Éva</td>
    </tr>
    <tr>
      <td>Sakk szakkör</td>
      <td>kedd 8. óra</td>
      <td>Tenk Zoltán</td>
    </tr>
    <tr>
      <td>Sakk szakkör</td>
      <td>kedd 9. óra</td>
      <td>Tenk Zoltán</td>
    </tr>
    <tr>
      <td>Német 7. o.</td>
      <td>szerda 6. óra</td>
      <td>Haumann Annett</td>
    </tr>
    <tr>
      <td>Iskolarádió</td>
      <td>szerda 7. óra</td>
      <td>Bendéné Bán Gyöngyi</td>
    </tr>
    <tr>
      <td>Matematika teh.gond. 5–8. o.</td>
      <td>szerda 7. óra</td>
      <td>Birinyi-Horváth Edit</td>
    </tr>
    <tr>
      <td>Matematika teh.gond. 5–8. o.</td>
      <td>szerda 8. óra</td>
      <td>Birinyi-Horváth Edit</td>
    </tr>
    <tr>
      <td>Sakkszakkör</td>
      <td>Szerda 8. óra</td>
      <td>Tenk Zoltán</td>
    </tr>
    <tr>
      <td>Természetjáró szakkör</td>
      <td>szerda 9. óra</td>
      <td>Tenk Zoltán</td>
    </tr>
    <tr>
      <td>Énekkar</td>
      <td>csütörtök 6. óra</td>
      <td>Bendéné Bán Gyöngyi</td>
    </tr>
    <tr>
      <td>Német 5. o.</td>
      <td>csütörtök 6. óra</td>
      <td>Haumann Anett</td>
    </tr>
    <tr>
      <td>Német 8. o.</td>
      <td>csütörtök 7. óra</td>
      <td>Haumann Anett</td>
    </tr>
    <tr>
      <td>Énekkar</td>
      <td>csütörtök 7. óra</td>
      <td>Bendéné Bán Gyöngyi</td>
    </tr>

  </tbody>
</table>