</h5>
{{>head_ps_year}}
<h5 class="text-center" style="margin-bottom: 1.1rem">
  SZAKTÁRGYI KORREPETÁLÁSOK
</h5>
<div class="grid-x grid-margin-x">
  <div class="cell auto"></div>
  <div class="cell small-12 large-4">
    <div class="callout primary">
      <h6>Hamarosan...</h6>
    </div>
  </div>
  <div class="cell auto"></div>
</div>

<!-- <table class="hover">
  <thead>
    <tr>
      <td>Szakkörök</td>
      <td>Időpont</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
<tbody>
    <tr>
        <td>hétfő 7. óra</td>
        <td>3. osztály</td>
        <td>Pakainé Bertók Katalin</td>
    </tr>
    <tr>
        <td>kedd 5. óra</td>
        <td>4. osztály</td>
        <td>Erdélyi Marian</td>
    </tr>
    <tr>
        <td>csütörtök 6. óra</td>
        <td>1. osztály</td>
        <td>Csányi Erika</td>
    </tr>
    <tr>
        <td>csütörtök 6. óra</td>
        <td>2. osztály</td>
        <td>Vigh Anita</td>
    </tr>
</tbody>
</table> -->