{{> head_bs_year_2022_23_hamarosan}}

<h5 class="text-center" style="margin-bottom: 1.1rem">
  SZAKTÁRGYI KORREPETÁLÁSOK
</h5>


<!-- <table class="hover">
  <thead>
    <tr>
      <td>Időpont</td>
      <td>Osztály</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tr>
    <td>csütörtök 5. óra</td>
    <td>3. osztály</td>
    <td>Skultéti Katalin</td>
  </tr>
  <tr>
    <td>péntek 5. óra</td>
    <td>3. osztály</td>
    <td>Széllné Bartók Mária</td>
  </tr>
  <tr>
    <td>szerda 7.óra</td>
    <td>3. osztály</td>
    <td>Savanya Béláné</td>
  </tr>
  <tr>
    <td>kedd 5. óra</td>
    <td>4. osztály</td>
    <td>Széllné Bartók Mária</td>
  </tr>
  <tr>
    <td>hétfő 5. óra</td>
    <td>4. osztály</td>
    <td>Kisné Fülöp Ilona</td>
  </tr>
  <tr>
    <td>csütörtök 6.óra</td>
    <td>5–6. osztály</td>
    <td>Polyák-Kósa Krisztina</td>
  </tr>
  <tr>
    <td>péntek 7. óra</td>
    <td>5–6. osztály</td>
    <td>Minik Ilona</td>
  </tr>
  <tr>
    <td>hétfő 6. óra</td>
    <td>5. osztály</td>
    <td>Nagyistók Zsuzsanna</td>
  </tr>
  <tr>
    <td>szerda 6. óra</td>
    <td>6. osztály</td>
    <td>Nagyistók Zsuzsanna</td>
  </tr>
  <tr>
    <td>szerda 6. óra</td>
    <td>6. osztály</td>
    <td>Polyák-Kósa Krisztina</td>
  </tr>
  <tr>
    <td>kedd 7. óra</td>
    <td>7. osztály</td>
    <td>Ványi Szilvia</td>
  </tr>
</table> -->