{{> head_ps_year_2022_23}}

<h5 class="text-center" style="margin-bottom: 1.1rem">
  SZAKTÁRGYI KORREPETÁLÁSOK
</h5>

<table class="hover">
  <thead>
    <tr>
      <td>Osztály</td>
      <td>Időpont</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1. osztály</td>
      <td>csütörtök 5. óra</td>
      <td>Szabó Amanda</td>
    </tr>
    <tr>
      <td>2. osztály</td>
      <td>kedd 6–7. óra</td>
      <td>Szabó Adrienne</td>
    </tr>
    <tr>
      <td>2., 4. osztály</td>
      <td>csütörtök 6. óra</td>
      <td>Terhes Bernadett</td>
    </tr>
    <tr>
      <td>3. osztály</td>
      <td>kedd 5. óra</td>
      <td>Szabó Adrienne</td>
    </tr>
    <tr>
      <td>3., 4. osztály</td>
      <td>hétfő 7. óra</td>
      <td>Csányi Erika</td>
    </tr>
    <tr>
      <td>4., 6. osztály</td>
      <td>csütörtök 7. óra</td>
      <td>Terhes Bernadett</td>
    </tr>
    <tr>
      <td>5. osztály</td>
      <td>szerda 6. óra</td>
      <td>Gusztosné Thékes Andrea</td>
    </tr>
    <tr>
      <td>5. osztály</td>
      <td>szerda 6. óra</td>
      <td>Vígh Anita</td>
    </tr>
    <tr>
      <td>6., 7. osztály</td>
      <td>kedd 7. óra</td>
      <td>Katona-Madarász Viktória</td>
    </tr>
    <tr>
      <td>6 osztály, 8 osztály</td>
      <td>szerda 7.óra</td>
      <td>Gusztosné Thékes Andrea</td>
    </tr>
    <tr>
      <td>7 osztály</td>
      <td>kedd 7. óra</td>
      <td>Molnár-Berkó Rita</td>
    </tr>
    <tr>
      <td>7 osztály</td>
      <td>csütörtök 7. óra</td>
      <td>Gusztosné Thékes Andrea</td>
    </tr>
    <tr>
      <td>8 osztály</td>
      <td>csütörtök 7. óra</td>
      <td>Minik Ilona</td>
    </tr>
  </tbody>
</table>
