{{> head_bs_year_2022_23}}

<h5 class="text-center" style="margin-bottom: 1.1rem">
  SZAKKÖRÖK, TEHETSÉGGONDOZÁS
</h5>
<table class="hover">
  <thead>
    <tr>
      <td>Szakkörök, tehetséggondozás</td>
      <td>Időpont</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>logika</td>
      <td>hétfő 7. óra</td>
      <td>Minik Ilona</td>
    </tr>
    <tr>
      <td>rajz</td>
      <td>Szerda 8–9. óra</td>
      <td>Czelédyné Somi Éva</td>
    </tr>
    <tr>
      <td>matematika 6. osztály</td>
      <td>hétfő 6. óra</td>
      <td>Czeglédyné Somi Éva</td>
    </tr>
    <tr>
      <td>matematika 5. osztály</td>
      <td>kedd 8. óra</td>
      <td>Czeglédyné Somi Éva</td>
    </tr>
    <tr>
      <td>magyar</td>
      <td>Csütörtök 6. óra</td>
      <td>Polyák-Kósa Krisztina</td>
    </tr>
    <tr>
      <td>énekkar</td>
      <td>hétfő 5. óra</td>
      <td>Simonné Tóth Edina</td>
    </tr>
    <tr>
      <td>énekkar</td>
      <td>kedd 5. óra</td>
      <td>Simonné Tóth Edina</td>
    </tr>
    <tr>
      <td>magyar 3., 4. osztály</td>
      <td>szerda 5. óra</td>
      <td>Czeróczki Claudia</td>
    </tr>
    <tr>
      <td>magyar 1., 2. osztály</td>
      <td>szerda 4. óra</td>
      <td>Széllné Bartók Mária</td>
    </tr>
    <tr>
      <td>matematika 1., 2. osztály</td>
      <td>péntek 6. óra</td>
      <td>Savanya Béláné</td>
    </tr>
  </tbody>
</table>
