{{> head_bs_year_2023_24}}

<h5 class="text-center" style="margin-bottom: 1.1rem">
  SZAKKÖRÖK, TEHETSÉGGONDOZÁS
</h5>
<!-- <h6 class="text-center">Hamarosan...</h6> -->



<table class="hover">
  <thead>
    <tr>
      <td>Szakkörök, tehetséggondozás</td>
      <td>Időpont</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tbody>
    {{#each person}}
    <tr>
      <td>{{this.tantargy}}</td>
      <td>{{this.datum}}</td>
      <td>{{this.tanar}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>