{{> head_bs_year_2023_24}}

<h5 class="text-center" style="margin-bottom: 1.1rem">
  SZAKTÁRGYI KORREPETÁLÁSOK
</h5>
<h6 class="text-center">Hamarosan...</h6>

<table class="hover">
  <thead>
    <tr>
      <td>Osztály</td>
      <td>Időpont</td>
      <td>Tantárgy</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5. osztály</td>
      <td>hétfő 7. óra</td>
      <td>matematika </td>
      <td>Jójárt Renáta</td>
    </tr>
    <tr>
      <td>8. osztály</td>
      <td>kedd 6. óra</td>
      <td>magyar</td>
      <td>Ungerné Fekete Mónika</td>
    </tr>
    <tr>
      <td>5. és 6. osztály</td>
      <td>szerda 6. óra</td>
      <td>magyar</td>
      <td>Ungerné Fekete Mónika</td>
    </tr>
    <tr>
      <td>6. osztály</td>
      <td>szerda 6. óra</td>
      <td>matematika</td>
      <td>Nagyistók Zsuzsanna</td>
    </tr>

  </tbody>

</table>