{{> head_ps_year_2022_23_hamarosan}}

<h5 class="text-center" style="margin-bottom: 1.1rem">
  SZAKTÁRGYI KORREPETÁLÁSOK
</h5>

<!-- 
<table class="hover">
  <thead>
    <tr>
      <td>Nap</td>
      <td>Óra</td>
      <td>Csoport</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>csütörtök</td>
      <td>5.</td>
      <td>Ef 1.</td>
      <td>Kelemen Babett</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>6.</td>
      <td>Ef 2.</td>
      <td>Kelemen Babett</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>7.</td>
      <td>Ef 3.</td>
      <td>Kelemen Babett</td>
    </tr>
    <tr>
      <td>szerda</td>
      <td>6.</td>
      <td>Ef 4.</td>
      <td>Csányi Erika</td>
    </tr>
    <tr>
      <td>hétfő</td>
      <td>7.</td>
      <td>Ef 5.</td>
      <td>Szabó Adrienne</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>6.</td>
      <td>Ef 6.</td>
      <td>Terhes Bernadett</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>7.</td>
      <td>Ef 7.</td>
      <td>Terhes Bernadett</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>6.</td>
      <td>Ef 8.</td>
      <td>Molnár-Berkó Rita </td>
    </tr>
    <tr>
      <td>kedd</td>
      <td>7.</td>
      <td>Ef 9.</td>
      <td>Minik Ilona</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>6.</td>
      <td>Ef 10.</td>
      <td>Minik Ilona</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>7.</td>
      <td>Ef 11.</td>
      <td>Minik Ilona</td>
    </tr>
    <tr>
      <td>csütörtök</td>
      <td>8.</td>
      <td>Ef 12.</td>
      <td>Minik Ilona</td>
    </tr>
    <tr>
      <td>hétfő</td>
      <td>6.</td>
      <td>Ef 13. </td>
      <td>Bendéné Bán Gyöngyi</td>
    </tr>
  </tbody>
</table> -->