{{> head_ps_year_2023_24}}

<h5 class="text-center" style="margin-bottom: 1.1rem">
  SZAKKÖRÖK, TEHETSÉGGONDOZÁS
</h5>
<h6 class="text-center">Hamarosan...</h6>

<!-- <table class="hover">
  <thead>
    <tr>
      <td style="width: 45%">Szakkörök, tehetséggondozás</td>
      <td>Időpont</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>sudoku szakkör</td>
      <td>hétfő 8. óra</td>
      <td>Csányi Erika</td>
    </tr>
    <tr>
      <td>alkotókör</td>
      <td>hétfő 8–9. óra</td>
      <td>Czeglédyné Somi Éva</td>
    </tr>
    <tr>
      <td>kézműves szakkör</td>
      <td>kedd 8. óra</td>
      <td>Szabó Adrienne</td>
    </tr>
    <tr>
      <td>rajz</td>
      <td>kedd 8. óra</td>
      <td>Terhes Bernadett</td>
    </tr>
    <tr>
      <td>énekkar</td>
      <td>kedd 8. óra, péntek 7. óra</td>
      <td>Bendéné Bán Gyöngyi</td>
    </tr>
    <tr>
      <td>gerinctorna</td>
      <td>szerda 9. óra</td>
      <td>Budainé Bancsi Ággnes</td>
    </tr>
    <tr>
      <td>foci suli</td>
      <td>csütörtök 9. óra</td>
      <td>Pajkó Mihály Zsolt</td>
    </tr>
    <tr>
      <td>matematika tehetséggondozás</td>
      <td>szerda 7. óra</td>
      <td>Zsebik Anikó</td>
    </tr>
    <tr>
      <td>német szakkör 7–8. osztály</td>
      <td>kedd 7. óra</td>
      <td>Haumann Anett</td>
    </tr>
    <tr>
      <td>német szakkör 5. osztály</td>
      <td>kedd 8. óra</td>
      <td>Haumann Anett</td>
    </tr>
    <tr>
      <td>német szakkör 6. osztály</td>
      <td>szerda 6. óra</td>
      <td>Haumann Anett</td>
    </tr>
  </tbody>
</table> -->