</h5>
<h5 class="text-center" style="margin-bottom: 1.1rem">
  SZAKKÖRÖK 2020–2021
</h5>

<table class="hover">
  <thead>
    <tr>
      <td>Szakkörök</td>
      <td>Időpont</td>
      <td>Pedagógus</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Kézimunka szakkör</td>
      <td>szerda 9. óra</td>
      <td>dr. Véghné Láczai Györgyi</td>
    </tr>
    <tr>
      <td>Rajz szakkör</td>
      <td>–</td>
      <td>Czeglédyné Somi Éva</td>
    </tr>
    <tr>
      <td>Sakk</td>
      <td>csütörtök 6–8. óra</td>
      <td>Tenk Zoltán</td>
    </tr>
  </tbody>
</table>