<h5 class="text-center">Tájékoztató a 2022/2023. tanév beiratkozásról</h5>
<!-- <p class="text-center">
  <strong
    >A krétán való jelentkezés lehetséges, de a személyes megjelenés
    kötelező!</strong
  >
</p> -->
<h6 class="text-center">Tisztelt Szülők!</h6>
<h6 class="text-center">
  A 2023/2024. tanévre történő általános iskolai
  <strong
    >beiratkozás időpontja: <br />
    2023. április 20–21. 8:00–19:00</strong
  >
</h6>

<p class="text-center">A részletekről hamarosan itt olvashat.</p>

<!-- <p class="text-right" style="margin-right: 4rem; margin-bottom: 0">
  <img src="{{root}}assets/img/wa_sign.jpg" alt="Winkler Andrea aláírás" />
</p>
<p class="text-right" style="margin-right: 6rem">
  <em>Winkler Andrea</em>&ensp;<br />
  intézményvezető -->
</p>
