<h5 class="text-center" style="margin-bottom: 1.1rem">
  A Szegedi Petőfi Sándor Általános Iskola Bálint Sándor Tagiskola tanárai
</h5>
<table class="hover">
  <tbody>
    {{>tanar_kozos_winkler}}
    {{>tanar_kozos_hurton}}
    <tr>
      <td>Porkolábné Papp Zsuzsanna</td>
      <td>egyetem</td>
      <td><strong>tagintézmény-vezető</strong><br />
        történelem-orosz szakos általános iskolai tanár<br />
        magyar nyelv és irodalom általános iskolai tanár<br />
        intézményvezető és középvezető területen szakvizsgázott pedagógus<br />
        gyógypedagógus, logopédia szakos tanár
      </td>
    </tr>
    <tr>
      {{>tanar_kozos_bendene}}
      {{>tanar_kozos_bohusne}}
      {{>tanar_kozos_czegledyne}}
    <tr>
      <td>Czeróczki Claudia</td>
      <td>főiskola</td>
      <td>Magyar nyelv és irodalom szakos tanár és tanító<br>Nyelv- és beszédfejlesztő tanár</td>
    </tr>
    <tr>
      <td>Fodorné Kiss Magdolna</td>
      <td>főiskola</td>
      <td>tanító
      </td>
    </tr>
    <tr>
      <td>Jójárt Renáta</td>
      <td>főiskola</td>
      <td>tanító szak<br>matematika műveltségterülettel
      </td>
    </tr>
    <tr>
      <td>Kisné Fülöp Ilona</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    {{>tanar_kozos_kovacs-kincses}}
    {{>tanar_kozos_minik}}
    <tr>
      <td>Megyesi Beáta</td>
      <td>főiskola</td>
      <td>történelem szakos általános iskolai tanár</td>
    </tr>
    <tr>
      <td>Nagyistók Zsuzsanna</td>
      <td>főiskola</td>
      <td>matematika-földrajz tanár,<br />
        számítástechnika tanár</td>
    </tr>
    {{>tanar_kozos_pajko}}
    <tr>
      <td>Patyi Zoltán</td>
      <td></td>
      </td>
      <td>néptánc oktató</td>
    </tr>
    {{>tanar_kozos_peczeli}}

    <tr>
      <td>Savanya Béláné</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    <tr>
      <td>Simonné Tóth Edina</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    <tr>
      <td>Skultéti Katalin</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    <tr>
      <td>Szegedi László</td>
      <td>főiskola</td>
      <td>földrajz–testnevelés szakos tanár</td>
    </tr>
    <tr>
      <td>Széllné Bartók Mária</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    <tr>
      <td>Túri Ágnes</td>
      <td>főiskola</td>
      <td>angol nyelvtanár</td>
    </tr>
    <tr>
      <td>Ungerné Fekete Mónika</td>
      <td>főiskola</td>
      <td>magyar tanár és könyvtáros<br>
        differenciáló, fejlesztő pedagógiai ismeretek<br>
        – szakvizsgázott pedagógus, fejlesztőpedagógus</td>
    </tr>
  </tbody>
</table>