<h4 class="text-center" style="margin-bottom: 1.1rem">
    A 2021/2022-es tanév rendje<br>
    <small>(20/2021. (VI. 8.) EMMI rendelet alapján)</small>
</h4>
<hr>



<p class="text-justify">
    A tanítási év <strong>első tanítási napja 2021. szeptember 1.</strong> (szerda) és <strong>utolsó tanítási
        napja
        2022.
        június 15.</strong> (szerda).
    A tanítási napok száma száznyolcvanegy nap.
</p>
<p class="text-justify">
    A tanítási év első féléve 2022. január 21-ig tart. Az iskolák 2022. január 28-ig értesítik a szülőket az
    első
    félévben elért tanulmányi eredményekről.
</p>
<p class="text-justify">
    <strong>Az őszi szünet 2021. október 25-tól 2021. november 1-ig tart.</strong> A szünet előtti utolsó
    tanítási nap
    2021. október
    22. (péntek), a szünet utáni első tanítási nap 2021. november 2. (kedd).
</p>
<p class="text-justify">
    <strong>A téli szünet 2021. december 22-től 2021. december 31-ig tart.</strong> A szünet előtti utolsó
    tanítási
    nap 2021. december
    21. (kedd), a szünet utáni első tanítási nap 2022. január 3. (hétfő).
</p>
<p class="text-justify">
    <strong>A tavaszi szünet 2022. április 14-től 2022. április 19-ig tart.</strong> A szünet előtti utolsó
    tanítási
    nap 2022. április
    13. (szerda), a szünet utáni első tanítási nap 2022. április 20. (szerda).
</p>
<p class="text-justify">
    Az Nkt. 80. § (1) bekezdése alapján, a miniszteri rendelet 79. § (6) bekezdésében meghatározott
    <strong>méréseket,
        értékeléseket a 2021/2022. tanévben a Hivatal szervezi meg meghatározott ütemezés szerint:</strong>
</p>
<ul>
    <li>6. évfolyamon 2022. május 18–31.</li>
    <li>8. évfolyamon 2022. május 4–17.</li>
</ul>