<h4 class="text-center" style="margin-bottom: 1.1rem">
  A 2022/2023-as tanév rendje<br />
  <small>(20/2021. (VI. 8.) EMMI rendelet alapján)</small>
</h4>
<!-- {{>hamarosan}} -->
<hr />
<div class="grid-x grid-margin-x">
<div class="cell auto"></div>
  <div class="cell small-12 large-8">
    <ul>
        <li><strong>2022.uktóber 3. (hétfő)</strong> – tanítás nélküli munkanap</li>
        <li><strong>2022. október 5. (szerda)</strong> – nyílt tanítási nap</li>
        <li><strong>2022. október 15. (szombat)</strong> – tanítás nélküli munkanap</li>
        <li>
          <strong>Őszi szünet</strong>
          <ul>
            <li type="circle">2022. október 28. (péntek) – utolsó tanítási nap</li>
            <li type="circle">2022. november 7. (hétfő)<– első tanítási nap</li>
          </ul>
        </li>
        <li><strong>2022. december 21.(szerda)</strong> – tanítás nélküli munkanap</li>
        <li>
          <strong>Téli szünet</strong>
          <ul>
            <li type="circle">2022. december 20. (kedd) – utolsó tanítási nap</li>
            <li type="circle">2023. január 3. (kedd) – első tanítási nap</li>
          </ul>
          </li>
      <li><strong>2023. február 3. (péntek)</strong> – tanítás nélküli munkanap</li>
      <li><strong>2023. március 16. (csütörtök)</strong> – nyílt tanítási nap</li>
          <li><strong>Tavaszi szünet</strong>
          <ul>
              <li type="circle">2023. április 5. (szerda) – utolsó tanítási nap</li>
              <li type="circle">2023. április 12. (szerda) – első tanítási nap</li>
      </ul>
      </li>
          <li><strong>2023. június 15. (csütörtök)</strong> – a tanév utolsó tanítási napja</li>
          <li><strong>2023. június 16. (péntek)</strong> 17:00 – Ballagás</li>
          <li><strong>2023. június 22. (csütörtök) 17:00</strong> – Évzáró</li>
         </li>
      </ul>
        
</div>
<div class="cell auto"></div>
</div>
