<hr />
<div class="grid-x grid-margin-x">
    <div class="cell auto"></div>
    <div class="cell small-12 large-9">
        <ul>
            <li><strong>{{tannelkmunkdatum1}}</strong> – tanítás nélküli munkanap</li>
            <li>
                <strong>Őszi szünet</strong>
                <ul>
                    <li type="circle">{{utolsó tanítási nap – {{osziszunet_first}}</li>
                    <li type="circle">első tanítási nap – {{osziszunet_last}}</li>
                </ul>
            </li>
            <li><strong>{{tannelkmunkdatum2}}</strong> – tanítás nélküli munkanap</li>
            <li>
                <strong>Téli szünet</strong>
                <ul>
                    <li type="circle">utolsó tanítási nap – {{teliszunet_first}}</li>
                    <li type="circle">első tanítási nap – 2024. január 8. (hétfő)</li>
                </ul>
            </li>
            <li><strong>2024. január 19. (péntek)</strong> az első félév vége</li>
            <li type="circle"><strong>2024. február 2. (péntek)</strong> – tanítás nélküli munkanap</li>
            <li><strong>Tavaszi szünet</strong>
                <ul>
                    <li type="circle">utolsó tanítási nap – 2024. március 27. (szerda)</li>
                    <li type="circle">első tanítási nap – 2024. április 8. (hétfő)</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="cell auto"></div>
</div>