{{>vissza}}
<h5 class="text-center" style="margin-bottom: 1.1rem">
    Szegedi Petőfi Sándor Általános Iskola Bálint Sándor Tagiskola
</h5>
{{>tanev_rendje_all}}

<p style="margin-bottom: -0.1rem;"><strong>Tanítás nélküli munkanapok</strong></p>
<ul>
    <li>
        2021. október 4.
    </li>
    <li>
        2021. november 29.
    </li>
    <li>
        2022. március 3.
    </li>
    <li>
        2022. március 4.
    </li>
    <li>
        2022. március 26.
    </li>
    <li>
        2022. május 27.
    </li>

</ul>
<p style="margin-bottom: -0.1rem;"><strong>Fogadóórák</strong></p>
<ul>
    <li>
        2021. november 9.
    </li>
    <li>
        2021. december 7.
    </li>
    <li>
        2022. március 8.
    </li>
</ul>
<p style="margin-bottom: -0.1rem;"><strong>Szülői értekezletek</strong></p>
<ul>
    <li>
        2022. január 31 – február 4.
    </li>
    <li>
        2022. május 2–6.
    </li>
</ul>

{{>vissza}}