{{>vissza}}
<h5 class="text-center" style="margin-bottom: 1.1rem">
    Szegedi Petőfi Sándor Általános Iskola<br>Bálint Sándor Tagiskolája
</h5>
{{>tanev_rendje_all}}
<li><strong>2024. június 14. (péntek)</strong> – Madarak és fák napja témanap – Kirándulás</li>
<li><strong>2024.június 19. (szerda)</strong> – tanítás nélküli munkanap – DÖK nap</li>
<li><strong>2024. június 21. (péntek) </strong> – a tanév utolsó tanítási napja</li>
<li><strong>2024. június 22. (szombat) 9:00</strong> – Ballagás</li>
<li><strong>2024. június 26. (szerda) 17:00</strong> – Tanévzáró ünnepély, bizonyítványosztás</li>
</ul>

</div>
<div class="cell auto"></div>
</div>

{{>vissza}}