{{>vissza}}
<h5 class="text-center" style="margin-bottom: 1.1rem">
    Szegedi Petőfi Sándor Általános Iskola
</h5>
{{>tanev_rendje_all}}
<!-- 
<p style="margin-bottom: -0.1rem;"><strong>Tanítás nélküli munkanapok</strong></p>
<ul>
    <li>
        2021. október 04.
    </li>
    <li>
        2022. január 17.

    </li>
    <li>
        2022. március 03.

    </li>
    <li>
        2022. március 04.

    </li>
    <li>
        2022. március 26.

    </li>
    <li>
        2022. május 27.
    </li>

</ul>
<p style="margin-bottom: -0.1rem;"><strong>Fogadóórák</strong></p>
<ul>
    <li>
        2021. november 8.
    </li>
    <li>
        2021. december 6.
    </li>
    <li>
        2022. március 7.
    </li>
</ul>
<p style="margin-bottom: -0.1rem;"><strong>Szülői értekezletek</strong></p>
<ul>
    <li>
        2022. február első hete
    </li>
    <li>
        2022. április első hete
    </li>
</ul> -->

{{>vissza}}