{{>vissza}}
<h5 class="text-center" style="margin-bottom: 1.1rem">
  Szegedi Petőfi Sándor Általános Iskola <br><br>
</h5>
{{>tanev_rendje_all}}

<li><strong>2024. május 31. (péntek)</strong> – Madarak és fák napja témanap – Kirándulás</li>
<li><strong>2024.június 19. (szerda)</strong> – tanítás nélküli munkanap – DÖK nap</li>
<li><strong>2024. június 21. (péntek) </strong> – a tanév utolsó tanítási napja</li>
<li><strong>2024. június 21. (péntek) 17:00</strong> – Ballagás</li>
<li><strong>2024. június 25. (kedd) 17:00</strong> – Tanévzáró ünnepély, bizonyítványosztás</li>
</ul>

</div>
<div class="cell auto"></div>
</div>
{{>vissza}}