<h5 class="text-center">Taneszközlista</h5>
<hr style="height:1px; border:none; color:#3fa9f5; background-color:#3fa9f5; margin-top: -0.5px;">
<ul class="accordion" data-accordion>
  <!-- 1. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">1. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      <h5 class="text-center">Taneszköz-lista – 1. osztály</h5> <br>
      <p class="text-center"><em>Hamarosan!</em></p>
      <div class="grid-x grid-margin-x">

        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
        <!-- 2. oszlop -->
        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
      </div>

      <!-- 2. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">2. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      <h5 class="text-center">Taneszköz-lista – 2. osztály</h5> <br>
      <p class="text-center"><em>Hamarosan!</em></p>
      <div class="grid-x grid-margin-x">

        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
        <!-- 2. oszlop -->
        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
      </div>

      <!-- 3. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">3. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      <h5 class="text-center">Taneszköz-lista – 3. osztály</h5> <br>
      <p class="text-center"><em>Hamarosan!</em></p>
      <div class="grid-x grid-margin-x">

        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
        <!-- 2. oszlop -->
        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
      </div>

      <!-- 4. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">4. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      <h5 class="text-center">Taneszköz-lista – 4. osztály</h5> <br>
      <p class="text-center"><em>Hamarosan!</em></p>
      <div class="grid-x grid-margin-x">

        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
        <!-- 2. oszlop -->
        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
      </div>

      <!-- 5. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">5. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      <h5 class="text-center">Taneszköz-lista – 5. osztály</h5> <br>
      <p class="text-center"><em>Hamarosan!</em></p>
      <div class="grid-x grid-margin-x">

        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
        <!-- 2. oszlop -->
        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
      </div>
      <!-- 6. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">6. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      <h5 class="text-center">Taneszköz-lista – 6. osztály</h5> <br>
      <p class="text-center"><em>Hamarosan!</em></p>
      <div class="grid-x grid-margin-x">

        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
        <!-- 2. oszlop -->
        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
      </div>
      <!-- 7. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">7. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      <h5 class="text-center">Taneszköz-lista – 7. osztály</h5> <br>
      <p class="text-center"><em>Hamarosan!</em></p>
      <div class="grid-x grid-margin-x">

        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
        <!-- 2. oszlop -->
        <div class="cell small-12 medium-6">
          <ul></ul>
        </div>
      </div>
      <!-- 8. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">8. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      <h5 class="text-center">Taneszköz-lista – 8. osztály</h5> <br>
      <p class="text-center"><em>Hamarosan!</em></p>


</ul>