<ul>
    <li>1. osztály</li>
    <li>nem tagozatos</li>
   

    <li>tagozatos</li>
    
    
    <li>2. osztály</li>
    <li>nem tagozatos</li>
   
    <li></li>
    <li>tagozatos</li>
  
    
    <li>3. osztály</li>
    <li>nem tagozatos</li>
  
    <li></li>
    <li>tagozatos</li>
  
    <li></li>
    
    <li>4. osztály</li>
    <li>nem tagozatos</li>
  
    <li></li>
    <li>tagozatos</li>
  
    <li></li>
    
    <li>5. osztály</li>
    <li>nem tagozatos</li>
   
    <li></li>
    <li>tagozatos</li>
   
    <li></li>
    
    <li>6. osztály</li>
    <li>nem tagozatos</li>
    
    <li></li>
    <li>tagozatos</li>
  
    <li></li>
    
    <li>7. osztály</li>
    <li>nem tagozatos</li>
   
    <li></li>
    <li>tagozatos</li>
   
    <li></li>
    
    <li>8. osztály</li>
    <li>nem tagozatos</li>
   
    <li></li>
    <li>tagozatos</li>
   
    <li></li>
</ul>