<p class="text-center">
	<input id="fileupload" type="file" name="fileupload">
	<button class="button" id="upload-button" onclick="saveFile()"><strong>Feltöltés</strong></button>
<div id="successMessage"></div>



<script>
	const successMessage = document.getElementById('successMessage');
	async function saveFile() {
		let formData = new FormData();
		formData.append("file", fileupload.files[0]);
		await fetch('{{root}}assets/php/upload.php', { method: "POST", body: formData });
		successMessage.textContent = 'File uploaded successfully!';
	}
</script>
</p>